        <header class="site-header site-header-secondary">
          <div class="inner-wide">
            <nav class="page-navigation" aria-label="Main Menu">
              <ul class="menu">
                <li class="menu-item" role="presentation"><a href="/about">About NLPT</a></li>
                <li class="menu-item" role="presentation"><a href="/staff">Staff</a></li>
                <li class="menu-item" role="presentation"><a href="/facilities">Facilities</a></li>
                <li class="menu-item" role="presentation"><a href="/wall-of-fame">Wall of Fame</a></li>
              </ul><!-- .menu -->
            </nav><!-- .site-navigation -->
          </div>
        </header>
