<h5>  Are there any sign-up fees or long-term contracts? </h5>
<p>No, all of our monthly memberships are strictly month-to-month. Cancel any time.</p>
 
<h5>If I purchase Advanced Program Design am I able to use the NLPT gym?</h5>
<p>The program design option does not include an NLPT membership, they must be purchased separately.</p>
 
<h5>I have a friend visiting from out of town, is there a drop in rate? </h5>
<p>A one-day pass can be purchased for $10.</p>
 
<h5>Are there any times on the schedule where I can’t train?</h5>
<p>We have seasonal blackout times due to our gym being used for our professional athletes. However these only occur during the summer months and are typically only for a few hours in the late morning. We will provide sufficient notice of those dates on our facility calendar.</p>
 
<h5>What pieces of equipment do you have?</h5>
<p>Cambridge</p>
    <ul>
      <li>7 squat racks with benches</li>
      <li>5 hex (trap) bars</li>
      <li>Dumbbells 5lbs to 100lbs</li>
      <li>Kettlebells 15lbs to 75lbs</li>
      <li>Bumper plates for Olympic lifting</li>
      <li>Treadmill</li>
      <li>Assault bike</li>
      <li>2 spin bikes</li>
      <li>2 Prowlers (sleds)</li>
      <li>Heart rate monitors</li>
      <li>Multi-purpose cable machine</li>
      <li>Assortment of heavy chains, bands, medicine balls, mats</li>
    </ul>

  <h5>Stratford</h5>
    <ul>
      <li>3 squat racks with benches</li>
      <li>3 hex (trap) bars</li>
      <li>Dumbbells 5lbs to 80lbs</li>
      <li>Kettlebells 15lbs to 65lbs</li>
      <li>Bumper plates for Olympic lifting</li>
      <li>2 spin bikes</li>
      <li>2 Prowlers (sleds)</li>
      <li>Assault bike</li>
      <li>Heart rate monitors</li>
      <li>Multi-purpose cable machine</li>
      <li>Assortment of heavy chains, bands, medicine balls, mats</li>
    </ul>
 
<h5>Are there discounts for couples?</h5>
<p>NLPT has a 10% discount for all family members that train with us. Please note that family members must be from the same household in order to receive the discount. It is only applicable to the Open Membership and NLPTfit Monthly Membership options of our adult fitness program.</p>
 
<h5>If I’m away, can I put my membership on hold?</h5>
<p>Yes, we are happy to freeze memberships. However when you resume training, we will start your new membership on the date that you return at full cost. So if your regular billing date is the 1st of each month and you return on the 25th of the same month, you will be charged full price on the 25th from that point forward.</p>
 
<h5>Do you have showers?</h5>
<p>Yes, our Cambridge facility is equipped with a men’s and women’s change room and shower. {{!-- Our Stratford location has change rooms, but no shower facilities. --}}</p>
 
 
 
 
 
 
 
 
 
 
 
 
 
