<div class="panel panel-default">
  <div class="panel-heading">
  <b>  Are there any sign-up fees or long-term contracts? </b>
  </div>
  <div class="panel-body">
    No, all of our monthly memberships are strictly month-to-month. Cancel any time.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>If I purchase Advanced Program Design am I able to use the NLPT gym?</b>
  </div>
  <div class="panel-body">
    The program design option does not include an NLPT membership, they must be purchased separately.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>I have a friend visiting from out of town, is there a drop in rate? </b>
  </div>
  <div class="panel-body">
    A one-day pass can be purchased for $10.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>Are there any times on the schedule where I can’t train?</b>
  </div>
  <div class="panel-body">
    We have seasonal blackout times due to our gym being used for our professional athletes. However these only occur during the summer months and are typically only for a few hours in the late morning. We will provide sufficient notice of those dates on our facility calendar.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>What pieces of equipment do you have?</b>
  </div>
  <div class="panel-body">
  <h5>Cambridge</h5>
    <ul>
      <li>7 squat racks with benches</li>
      <li>5 hex (trap) bars</li>
      <li>Dumbbells 5lbs to 100lbs</li>
      <li>Kettlebells 15lbs to 75lbs</li>
      <li>Bumper plates for Olympic lifting</li>
      <li>Treadmill</li>
      <li>Assault bike</li>
      <li>2 spin bikes</li>
      <li>2 Prowlers (sleds)</li>
      <li>Heart rate monitors</li>
      <li>Multi-purpose cable machine</li>
      <li>Assortment of heavy chains, bands, medicine balls, mats</li>
    </ul>

  <h5>Stratford</h5>
    <ul>
      <li>3 squat racks with benches</li>
      <li>3 hex (trap) bars</li>
      <li>Dumbbells 5lbs to 80lbs</li>
      <li>Kettlebells 15lbs to 65lbs</li>
      <li>Bumper plates for Olympic lifting</li>
      <li>2 spin bikes</li>
      <li>2 Prowlers (sleds)</li>
      <li>Assault bike</li>
      <li>Heart rate monitors</li>
      <li>Multi-purpose cable machine</li>
      <li>Assortment of heavy chains, bands, medicine balls, mats</li>
    </ul>
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>Are there discounts for couples?</b>
  </div>
  <div class="panel-body">
    NLPT has a 10% discount for all family members that train with us. Please note that family members must be from the same household in order to receive the discount. It is only applicable to the Open Membership and NLPTfit Monthly Membership options of our adult fitness program.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>If I’m away, can I put my membership on hold?</b>
  </div>
  <div class="panel-body">
    Yes, we are happy to freeze memberships. However when you resume training, we will start your new membership on the date that you return at full cost. So if your regular billing date is the 1st of each month and you return on the 25th of the same month, you will be charged full price on the 25th from that point forward.
  </div>
</div>
 
<div class="panel panel-default">
  <div class="panel-heading">
  <b>Do you have showers?</b>
  </div>
  <div class="panel-body">
    Yes, our Cambridge facility is equipped with a men’s and women’s change room and shower. {{!-- Our Stratford location has change rooms, but no shower facilities. --}}
  </div>
</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
