<p>Dylan joined the team in the fall of 2013 as a Strength and Conditioning Coach. Dylan attended the University of Waterloo, where he obtained his Bachelor’s degree in Honours Kinesiology (2013). He developed his clinical eye for movement while working at a health and wellness clinic in British Columbia, an indoor hockey training facility, and the Ontario Police College, where he wrote and developed fitness programs and classes for recruits of numerous Ontario police departments. Dylan is also a Registered Kinesiologist with the College of Kinesiology of Ontario.</p>

<p>Dylan is currently the Head Strength and Conditioning Coach at our Stratford location where he is in charge of all program design for athletes and NLPTfit members.</p>

<p>Dylan‘s resume includes the following:</p>
<ul>
  <li>Registered Kinesiologist, College of Kinesiologists of Ontario (2013)</li>
  <li>Bachelor of Science, Honours Kinesiology – University of Waterloo (2013)</li>
  <li>Head Goaltending Instructor, Hockey Training Above (2011-2013)</li>
  <li>Three years of junior hockey experience (2005-2008)</li>
</ul>