<p>As a former goaltender in hockey, Scott has been immersed in the NLPT culture since the very beginning. Throughout his career, athleticism remained the foundation of his success and while playing Junior A in West Kelowna, Scott’s passion for training and overall athletic performance blossomed.</p>

<p>His curiosity and insight led him to the University of Waterloo, where he currently studies Kinesiology. This past year Scott was accepted into the University of Waterloo Strength and Conditioning Internship Program, where he worked with varsity athletes to oversee their athletic development.</p>

<p>Scott joined NLPT as a strength and conditioning coach in 2016, drawing knowledge and experience from a long history of sporting pursuits and athletic endeavours.</p>