<p>John is currently a student at the University of Waterloo studying Honours Recreation and Sports Business. This past year he was accepted into the University of Waterloo’s Strength and Conditioning internship under Andrew Hopf, after spending a year at Brock Universities Sports Performance Internship under Steve Lidstone. John has been involved with a variety of sports since a young age, and has had the opportunity to train athletes of varying skill levels; Olympic level Wrestlers, high school & university football, basketball, and baseball players, as well as youth athletes. John joined NLPT as a strength and conditioning coach as well as a personal trainer in 2018. </p>

<p>John’s resume includes the following:</p>

<ul>
<li>Canfitpro Personal Training Specialist</li>
<li>Canfitpro Fitness Instructing Specialist</li>
<li>Canfitpro Healthy Eating & Weight Loss Coach</li>
<li>Current Personal Trainer at Body by PT in Burlington, Ontario</li>
<li>Football University Top Gun Showcase (2013), Offense-Defense All American Games (2015) & National Underclassman Prospect Elite Camp (2015)</li>
</ul>