      <p>Michelle graduated from the University of Waterloo in 2008 with a Bachelor’s degree in Kinesiology and later completed the Massage Therapy Program at the Canadian College of Massage and Hydrotherapy.  She has been with NLPT, behind the scenes, since its beginning in 2008 and started NLPT Massage Therapy in 2011.</p>

      <p>Michelle believes in providing a holistic and well-rounded treatment approach.  For the past 5 years, Michelle has strived to achieve experience in many different fields of massage therapy, which includes attending courses, volunteering at various sport events and staying current with the latest research.  She has worked in both clinic and sport settings, finding a passion in sport specific massage therapy and its applicability towards the general public.  She has a multitude of experience working with athletic injuries as well as helping maintain the soft tissue health of athletes in various sports such as baseball, hockey, soccer, cheerleading, downhill skiing and more.  </p>

      <p>Her resume includes:</p>

      <ul>
        <li>Postural Restoration Institute: Myokinetic Restoration 2015</li>
        <li>Advanced Kinesiotaping 2013</li>
        <li>Massage Therapist/Trainer for Cambridge Rivulettes Hockey Club 2012-2013</li>
        <li>Cranial Sacral Series 1-3 2013</li>
        <li>Sport Massage at Varsity Athletics at University of Waterloo 2011</li>
        <li>Trainer for the 2011 Major Bantam Cambridge Hawks</li>
      </ul>
