<p>Nick attended the Canadian College of Naturopathic Medicine (CCNM) in Toronto, earning his Doctor of Naturopathy degree (2018). During his clinical internship at CCNM Nick was selected to be part of the Sports Medicine Focus Shift, giving him extra experience working with athletes as patients, both in clinic and field side. Nick also assisted in the execution of clinical trial assessing the addition of naturopathic medicine to patients’ with type 2 diabetes usually care.</p>

<p>While attending CCNM Nick completed his Sports Nutritionist Certification (2018) through the International Society of Sports Nutrition (CISSN). Prior to CCNM, Nick attended McMaster University obtaining his Bachelor’s degree in Chemistry (2014). </p>

<p>Nick believes in an integrative and patient-centred approach to healthcare. He uses preventative medicine whenever possible and evidence based medicine when treatments are required. No two patients are alike, and as such Nick believes in individualized treatment plans tailored to a patient’s specific needs and not cookie cutter plans given to every patient.</p>

<p>Nick enjoys: playing soccer, basketball, volleyball, and softball; as well as camping, and bringing his dog along on runs.</p>
