<p>David attended the University of Guelph-Humber, where he obtained an Honours Bachelor’s Degree in Kinesiology as well as a Diploma in Fitness and Health Promotion (2012). He then went to York University to complete a master’s program in Kinesiology and a graduate degree in Neuroscience (2014). David’s thesis looked at motor development and how athletic experience could enhance motor performance. Finally, David completed a master’s degree in physical therapy at Queen’s University (2017). Throughout David’s education he assisted in injury prevention and in strength and conditioning programs, at both the recreational and varsity level. </p>

<p>David believes in a more hands-on approach to therapy, he couples this with exercise prescription to help restore function and optimize movement. David enjoys working with patients to help them return from injuries but also aid them in reaching their goals.  To provide a full spectrum of care, David also does on-field coverage and helps with strength and conditioning. </p>

<p>David’s resume includes the following: </p>

<ul>
<li>First Responder, Sport Physiotherapy Canada (2018) </li>
<li>Member of Sport Physiotherapy Canada, Canadian Physiotherapy Association (2018)</li>
<li>Certified Strength and Conditioning Specialist, National Strength and Conditioning Association (2018)</li>
<li>Member of the Orthopaedic Division, Canadian Physiotherapy Association (2017)</li>
<li>Registered Physiotherapist, College of Physiotherapists of Ontario (2017)</li>
<li>Master of Science in Physical Therapy (Queen’s University- 2017)</li>
<li>Master of Science in Kinesiology and Health Science (York University- 2014) </li>
<li>Graduate Diploma in Neuroscience (York University- 2014) </li>
<li>Honours Bachelor of Applied Science in Kinesiology (University of Guelph- 2012)</li>
<li>Diploma in Fitness and Health Promotion (Humber College- 2012)</li>
</ul>