<p>Sierra is studying Kinesiology at the University of Waterloo with minors in nutrition and physics and will to graduate in Spring 2019. After 10 years of competitive swimming she understands the importance of high performance strength and conditioning personally. Her first coaching experience was with 8 and under club swimmers while still in high school. Since then she has coached a diversity of sports at varying levels. She has learned that sport is both an art and a science, and is incredibly excited to empower, encourage, and train athletes to a new level at NLPT. </p>

<p>Experience: </p>

<ul>
 <li>Student s&c coach currently at UW </li>
 <li>Coached high school athletes at 4 different schools </li>
 <li>PT aid in a sports therapy clinic </li>
Fun fact: 
 <li>I spent the last 8 months working as a preschool teacher in rural Uganda</li>
</ul>