<p>Eric obtained a degree in Kinesiology from the University of Waterloo (2007) and a Master’s of Science degree in Rehabilitation Science from the University of Toronto (2009). In 2010, Eric joined Next Level Performance Training as Head Strength and Conditioning Coach, where he is served for 5 years before transitioning into his current role as the Director of Training where he is in charge of NLPT’s training philosophy and training systems research and development. </p>

<p>During his time at NLPT, Eric has worked with and designed training programs for many of Waterloo region’s elite athletes from a variety of sports including hockey, baseball, speed skating, Alpine skiing, rugby, and snowboarding.</p>

<p>Eric’s resume also includes the following:</p>

<ul>
  <li>Postural Restoration Institute - Myokinematic Restoration - 2015</li>
  <li>Poliquin International Certification Program, Level 1 – 2011</li>
  <li>Certified Strength and Conditioning Specialist, NSCA – 2010</li>
  <li>Functional Movement Screen (FMS) Certified, Level 1 – 2010</li>
  <li>Strength and Conditioning Coach – D1 Sportstraining, Nashville, TN – 2010</li>
  <li>USA Hockey Level 3 Certified Coach – 2009</li>
  <li>Master’s of Science, Rehabilitation Science – University of Toronto – 2009</li>
  <li>Bachelor’s of Science, Kinesiology – University of Waterloo, 2007</li>
</ul>