<table class="table table-small-text">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thur</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </tr>
    <tr>
      <td>Hours of operation</td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-1pm; 3pm-6:30pm</p></td>
      <td><p>8am-12pm</p></td>
      <td><p>Closed</p></td>
    </tr>
    <tr>
      <td>NLPTfit</td>
      <td>
        <p>6am-9am</p>
        <p>4pm-6pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>4pm-6pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>4pm-6pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>4pm-6pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>4pm-6pm</p>
      </td>
      <td>9am-10am</td>
      <td>None</td>
    </tr>
    <tr>
      <td>LEAN Classes</td>
      <td colspan="7">
        <p>Class schedule can be viewed at <a style="color:#ffd10c;" href="/fitness"> the adult fitness page</a></p>
      </td>
    </tr>
    <tr>
      <td>NLPTathlete</td>
      <td>
        <p>3pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>3pm-6pm</p>
        <p>8pm-9pm</p>
      </td>
      <td>
        <p>3pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>3pm-6pm</p>
        <p>7pm-8pm</p>
      </td>
      <td><p>3pm-6pm</p></td>
      <td><p>9am-10am</p></td>
      <td><p>None</p></td>
    </tr>
    <tr>
      <td>Learn to Train</td>
      <td colspan="7">
        <p>Class schedule can be viewed at <a style="color:#ffd10c;" href="/learn-to-train"> the L2T page</a></p>
      </td>
    </tr>
  </tbody>
</table>