<button style="height: 28px; font-size: 11px;" class="contact-button">Wanna get started? Contact us now <i class="fa fa-large fa-comment"></i></button>
<div class="contact-modal" hidden>{{> "contact_form"}}</div>