<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}

			<section class="widget widget-newsletter">
				<img class="sidebar-img img-shadow-lg" src="/assets/images/next-level-nutrition.png" />
				<h2 class="widget-title">Monthly Newsletter</h2>


			  <div id="mc_embed_signup">
			    <label for="mce-EMAIL">
			      <p>Subscribe to our monthly newsletter and get a <b>FREE</b> download of Next Level Nutrition, our 27-page handbook that's designed to get you started on the path of rock-solid nutrition.</p>
			      <p>NLPT Monthly contains exclusive access to special promotions, NLPT news, recipe ideas and more!</p>
			    </label>

			    <form action="//nlptinc.us2.list-manage.com/subscribe/post?u=c0d97252937de8c38435c6d67&amp;id=0dbfd78bf1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			      <div id="mc_embed_signup_scroll">
			        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email here" required>
			            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			        <div style="position: absolute; left: -5000px;" aria-hidden="true">
			          <input type="text" name="b_c0d97252937de8c38435c6d67_0dbfd78bf1" tabindex="-1" value="">
			        </div>
			        <div style="margin-top:3px;" class="row">
			          <div class="col-xs-6">
			            <input type="submit" value="Send it to me!" name="subscribe" id="mc-embedded-subscribe" class="yes-please button">
			          </div>
			      </div>
			    </form>

			  </div>

				<!--End mc_embed_signup-->


				{{!-- {{subscribe_form form_class="gh-subscribe-form" placeholder="Your email address"}} --}}
			</section><!-- .widget -->

			<section class="widget widget-text">
				<h2 class="widget-title">Hours of Operation</h2>
				<h5>Cambridge</h5>
				<p class="no-margin">Monday: 6am-9am; 12pm-9pm</p>
				<p class="no-margin">Tuesday: 6am-9am; 12pm-9pm</p>
				<p class="no-margin">Wednesday: 6am-9am; 12pm-9pm</p>
				<p class="no-margin">Thursday: 6am-9am; 12pm-9pm</p>
				<p class="no-margin">Friday: 6am-9am; 12pm-1pm; 3pm-6pm</p>
				<p class="no-margin">Saturday: 8am-12pm</p>
				<p class="no-margin">Sunday: Closed</p>

				<h5 style="margin-top: 20px">Stratford</h5>
				<p class="no-margin">Monday: 12pm-8:30pm</p>
				<p class="no-margin">Tuesday: 12pm-8:30pm</p>
				<p class="no-margin">Wednesday: 12pm-8:30pm</p>
				<p class="no-margin">Thursday: 12pm-8:30pm</p>
				<p class="no-margin">Friday: 12pm-6pm</p>
				<p class="no-margin">Saturday: 9am-12pm</p>
				<p class="no-margin">Sunday: Closed</p>
			</section><!-- .widget -->

			<section class="widget widget-text">
				<h2 class="widget-title">Program Coaching Hours</h2>

				<h5>Cambridge</h5>

				<p><em>NLPT Athlete (July & August)</em></p>
				<p class="no-margin">Monday: 1pm-5pm; 8pm-9pm</p>
				<p class="no-margin">Tuesday: 1pm-5pm; 7pm-8:30pm</p>
				<p class="no-margin">Wednesday: 1pm-5pm; 7pm-8:30pm</p>
				<p class="no-margin">Thursday: 1pm-5pm; 7pm-8:30pm</p>
				<p class="no-margin">Friday: 1pm-6pm</p>
				<p>Saturday: 9am-10am</p>
				
				<p class="no-margin"><em>NLPTfit</em></p>
				<p><em><small>These refer only to coaching hours. NLPTfit members may still train any time during hours of operation</small></em></p>
				<p class="no-margin">Monday: 6am-9am; 4pm-6pm</p>
				<p class="no-margin">Tuesday: 6am-9am; 4pm-6pm</p>
				<p class="no-margin">Wednesday: 6am-9am; 4pm-6pm</p>
				<p class="no-margin">Thursday: 6am-9am; 4pm-6pm</p>
				<p>Friday: 6am-9am; 4pm-6pm</p>

				<p><em>NLPT LEAN</em></p>

				<p>Please visit the <a href="/fitness">adult fitness page</a> for a full schedule</p>

				<p><em>Learn to Train</em></p>

				<p>Please visit the <a href="/learn-to-train">Learn to Train page</a> for a full schedule</p>
				
				<h5 style="margin-top: 20px">Stratford</h5>

				<p><em>NLPT Athlete</em></p>
				<p class="no-margin">Monday: 3pm-5pm; 6pm-7:30pm</p>
				<p class="no-margin">Tuesday: 3pm-5pm</p>
				<p class="no-margin">Wednesday: 3pm-5pm; 6pm-7:30pm</p>
				<p class="no-margin">Thursday: 3pm-5pm</p>
				<p>Friday: 3pm-5pm</p>

				<p class="no-margin"><em>NLPTfit</em></p>
				<p><em><small>These refer only to coaching hours. NLPTfit members may still train any time during hours of operation</small></em></p>
				<p class="no-margin">Monday: 12pm-1pm; 5pm-6pm; 7:30-8:30pm</p>
				<p class="no-margin">Tuesday: 12pm-1pm; 5pm-6pm; 7:30-8:30pm</p>
				<p class="no-margin">Wednesday: 12pm-1pm; 5pm-6pm; 7:30-8:30pm</p>
				<p class="no-margin">Thursday: 12pm-1pm; 5pm-6pm; 7:30-8:30pm</p>
				<p>Friday: 12pm-1pm; 5pm-6pm</p>

				<p><em>NLPT LEAN</em></p>

				<p>Please visit the <a href="/fitness">adult fitness page</a> for a full schedule</p>

				<p><em>Learn to Train</em></p>

				<p>Please visit the <a href="/learn-to-train">Learn to Train page</a> for a full schedule</p>

			</section><!-- .widget -->

			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<ul class="contacts">
					<li><span class="icon icon-envelope" aria-hidden="true"></span> info@mynlpt.com</li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> 519.620.9898</li>
{{!-- 					<li><span class="icon icon-map-marker" aria-hidden="true"></span> 123 Some Street, Some City, AA 12345</li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> +123 112 23445</li>
 --}}				</ul>
			</section><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text">Close Sidebar</span><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->
