<table class="table table-small-text">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thur</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </tr>
      <tr>
      <td>Hours of operation</td>
      <td><p>12pm-8:30pm</p></td>
      <td><p>12pm-8:30pm</p></td>
      <td><p>12pm-8:30pm</p></td>
      <td><p>12pm-8:30pm</p></td>
      <td><p>12pm-6pm</p></td>
      <td><p>9am-12pm</p></td>
      <td><p>Closed</p></td>
    </tr>

    <tr>
      <td>NLPTfit</td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
      </td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>LEAN Classes</td>
      <td colspan="7">
        <p>Class schedule can be viewed at <a style="color:#ffd10c;" href="/fitness"> the adult fitness page</a></p>
      </td>
    </tr>

    <tr>
      <td>NLPTathlete</td>
      <td>
        <p>3pm-5pm</p>
        <p>6pm-7:30pm</p>
      </td>
      <td>
        <p>3pm-5pm</p>
      </td>
      <td>
        <p>3pm-5pm</p>
        <p>6pm-7:30pm</p>
      </td>
      <td>
        <p>3pm-5pm</p>
      </td>
      <td>
        <p>3pm-5pm</p>
      </td>
      <td><p>10am-11am</p></td>
      <td><p>Closed</p></td>
    </tr>

    <tr>
      <td>Learn to Train</td>
      <td colspan="7">
        <p>Class schedule can be viewed at <a style="color:#ffd10c;" href="/learn-to-train"> the L2T page</a></p>
      </td>
    </tr>

  </tbody>
</table>