     <div class="wall-of-fame-grid">
      <div class="player">
        <div class="player-img ballantyne"></div>
        <div class="player-info">
          <p class="player-name">Jocelyn Ballantyne</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Ottawa Gee-gees, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img behenna"></div>
        <div class="player-info">
          <p class="player-name">Colin Behenna</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Barrie Colts, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img blight"></div>
        <div class="player-info">
          <p class="player-name">Chris Blight</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Cardiff Devils, EIHL (Europe)</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img brubacher"></div>
        <div class="player-info">
          <p class="player-name">Adam Brubacher</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">RIT Tigers, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img childerley"></div>
        <div class="player-info">
          <p class="player-name">Brendan Childerley</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Owen Sound Attack, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img core"></div>
        <div class="player-info">
          <p class="player-name">Zach Core</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Sarnia Sting, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img dalrymple"></div>
        <div class="player-info">
          <p class="player-name">Craig Dalrymple</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Ohio State Buckeyes, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img dempsey"></div>
        <div class="player-info">
          <p class="player-name">Mitch Dempsey</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Plymouth Whalers, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img doherty"></div>
        <div class="player-info">
          <p class="player-name">Taylor Doherty</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Worcester Sharks, AHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img dotchin"></div>
        <div class="player-info">
          <p class="player-name">Jake Dotching</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Tampa Bay Lightning, NHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img foster"></div>
        <div class="player-info">
          <p class="player-name">Rylee Foster</p>
          <p class="player-sport">Soccer</p>
          <p class="player-team">West Virginia Mountaineers, NCAA</p>
          <p class="player-team">Team Canada U20</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img furlong"></div>
        <div class="player-info">
          <p class="player-name">Colin Furlong</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Laurier Golden Hawks, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img gaudet"></div>
        <div class="player-info">
          <p class="player-name">Jenn Gaudet</p>
          <p class="player-sport">Ringette</p>
          <p class="player-team">Team Canada</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img genovese"></div>
        <div class="player-info">
          <p class="player-name">Cory Genovese</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Erie Otters, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img gilhula"></div>
        <div class="player-info">
          <p class="player-name">Owen Gilhula</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Sudbury Wolves, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img gilligan"></div>
        <div class="player-info">
          <p class="player-name">Jeff Gilligan</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Owen Sound Attack, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img good"></div>
        <div class="player-info">
          <p class="player-name">Mitch Good</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Laurier Golden Hawks, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img haddaway"></div>
        <div class="player-info">
          <p class="player-name">Rebecca Haddaway</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Laurier Golden Hawks, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img halmo"></div>
        <div class="player-info">
          <p class="player-name">Mike Halmo</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Bridgeport Sound Tigers, AHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img harrietha"></div>
        <div class="player-info">
          <p class="player-name">Bea Harrietha</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">St. Mary's Huskies, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img henderson"></div>
        <div class="player-info">
          <p class="player-name">Mat Henderson</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Flint Firebirds, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img jutzi"></div>
        <div class="player-info">
          <p class="player-name">Jon Jutzi</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Minnesota State Mavericks, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img klahsen"></div>
        <div class="player-info">
          <p class="player-name">Matthew Klahsen</p>
          <p class="player-sport">Swimming</p>
          <p class="player-team">Western University Mustangs, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img koncir"></div>
        <div class="player-info">
          <p class="player-name">Zach Koncir</p>
          <p class="player-sport">Motocross</p>
          <p class="player-sport">Professional</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img kostigian"></div>
        <div class="player-info">
          <p class="player-name">Zach Kostigian</p>
          <p class="player-sport">Snowboard Cross</p>
          <p class="player-team">Professional</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img krebs"></div>
        <div class="player-info">
          <p class="player-name">Erik Krebs</p>
          <p class="player-sport">Football</p>
          <p class="player-team">Bishop's University Gaiters</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img ladhani"></div>
        <div class="player-info">
          <p class="player-name">Mya Ladhani</p>
          <p class="player-sport">Soccer</p>
          <p class="player-team">Team Canada U17</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img landman"></div>
        <div class="player-info">
          <p class="player-name">Marcie Landman</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Guelph Gryphons, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img lowry"></div>
        <div class="player-info">
          <p class="player-name">Chad Lowry</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Kitchener Rangers, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img manning"></div>
        <div class="player-info">
          <p class="player-name">Caitlyn Manning</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">St. Mary's Huskies, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img mcclure"></div>
        <div class="player-info">
          <p class="player-name">Amanda McClure</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">St. Lawrence Saints, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img mckeown"></div>
        <div class="player-info">
          <p class="player-name">Roland McKeown</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Kingston Frontenacs, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img middleton"></div>
        <div class="player-info">
          <p class="player-name">Jacob Middleton</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Ottawa 67s, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img owenmacdonald"></div>
        <div class="player-info">
          <p class="player-name">Owen Macdonald</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">London Knights, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img pittaway"></div>
        <div class="player-info">
          <p class="player-name">Meghan Pittaway</p>
          <p class="player-sport">Ringette</p>
          <p class="player-team">Team Canada</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img pellegrino"></div>
        <div class="player-info">
          <p class="player-name">Jess Pellegrino</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Guelph Gryphons, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img platzer"></div>
        <div class="player-info">
          <p class="player-name">Kyle Platzer</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Bakersfield Condors, AHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img pugliese"></div>
        <div class="player-info">
          <p class="player-name">Daniel Pugliese</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Owen Sound Attack, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img rimmer"></div>
        <div class="player-info">
          <p class="player-name">Ty Rimmer</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Bakersfield Condors, AHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img ruby"></div>
        <div class="player-info">
          <p class="player-name">Jordan Ruby</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">RIT Tigers, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img schmidt"></div>
        <div class="player-info">
          <p class="player-name">Logan Schmidt</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Kitchener Rangers, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img snider"></div>
        <div class="player-info">
          <p class="player-name">Ashley Snider</p>
          <p class="player-sport">Rugby</p>
          <p class="player-team">Team Canada U20</p>
          <p class="player-team">Western University Mustangs, CIS</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img sonnenburg"></div>
        <div class="player-info">
          <p class="player-name">Riley Sonnenburg</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Guelph Storm, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img stajcer"></div>
        <div class="player-info">
          <p class="player-name">Scott Stajcer</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Connecticut Whale, AHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img subban"></div>
        <div class="player-info">
          <p class="player-name">Marselis Subban</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Saginaw Spirit, OHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img vanboekel"></div>
        <div class="player-info">
          <p class="player-name">Jack Van Boekel</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Val-d'Or Foreurs, QMJHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img vandyk"></div>
        <div class="player-info">
          <p class="player-name">Julia Vandyk</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Colgate Raiders, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img vanpelt"></div>
        <div class="player-info">
          <p class="player-name">Neve Van Pelt</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Providence Friars, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img weber"></div>
        <div class="player-info">
          <p class="player-name">Dexter Weber</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Drummondville Voltigeurs, QMJHL</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img wilson"></div>
        <div class="player-info">
          <p class="player-name">Liam Wilson</p>
          <p class="player-sport">Baseball</p>
          <p class="player-team">Canisius Golden Griffins, NCAA</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img wood"></div>
        <div class="player-info">
          <p class="player-name">Shelby Wood</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Colgate Raiders, NCAA</p>
          <p class="player-team">Team Canada U18</p>
        </div>
      </div>
      <div class="player">
        <div class="player-img woods"></div>
        <div class="player-info">
          <p class="player-name">Emma Woods</p>
          <p class="player-sport">Hockey</p>
          <p class="player-team">Quinnipiac Bobcats, NCAA</p>
        </div>
      </div>
    </div>
