{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the homepage --}}
<main class="site-main">
	<div class="site-content inner-wide">
        <div class="cover hero">
          <div class="cover-bg home-cover-bg" style="background-image: url('/assets/images/banners/home_image_saturated_2.jpg')"></div>
{{!--           {{#if @blog.cover_image}}
          <div class="cover-bg" style="background-image: url({{@blog.cover_image}})"></div>
          {{/if}}
 --}}        <div class="cover-content">
            <div class="inner">
              <div class="hero-wrap">
                <h2 class="hero-title hero-title-top">Next Level</h2>
                <h5 class="hero-title hero-title-bottom">Performance Training</h5>
                <p class="hero-text">A hard working gym with the best coaches in the business.</p>
              </div>
            </div><!-- .inner -->
          </div><!-- .cover-content -->
        </div><!-- .cover -->
          {{!-- <img class="hero-logo" src="/assets/images/nlpt_logo_2500.png" /> --}}

        <section class="inner">
          <h1 class="text-center">Welcome to NLPT</h1>
            <div>
              <p>Next Level Performance Training is Cambridge and Stratford, Ontario's best and most established private training and fitness centre for athletes and adults. Since 2008, NLPT has worked with athletes and clients of all ages, sports, exercise backgrounds and health histories.</p>

              <p>We’ve taught 9-year-olds as well as 90-year-olds to squat and deadlift, coached 12-year-old hockey players all the way up to their NHL draft day, as well as worked with athletes from a variety of sports competing on the national stage.</p>

              <p>Although our client roster is diverse, our goal for all of them remains the same:</p>

              <blockquote>To inspire and empower people, teams, and organizations with the tools and confidence necessary to pursue their next level of performance, health, and fitness.</blockquote>
              <p>To get a peek inside our doors and some insight into our philosophy, please watch the following video:</p>
              <div class="video-wrapper">
              <iframe id="profile-video" src="https://www.youtube.com/embed/snJd_c1E6n4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
        </section>

	</div><!-- .site-content -->
</main><!-- .site-main -->
