{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/hp2018-2.jpg')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">High Performance Summer Hockey Program</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">


<p>Since 2008, we've been training some of the region's top hockey players as they prepare for their upcoming seasons.</p>

<p>There have been dozens of professional, NCAA/CIS (both male and female), and OHL level players through our doors, not to mention hundreds of Junior and minor hockey players who have all taken on the challenge of a serious, properly structured strength and conditioning program. </p>

<p>The hallmarks of our program have been and continue to be: 

  <ol>
    <li>A holistic, comprehensive training program that includes off-ice training, on-ice instruction, and lifestyle strategies for optimized performance.</li>
    <li>Delivering expert coaching and instruction</li>
    <li>Creating a competitive, motivating atmosphere</li>
    <li>Providing an individualized experience</li>
  </ol>

<h3>HP Alumni</h3>
{{> "hp_alumni"}}

<hr>


<p>Below you'll find everything you need to know about HP2018 below including schedules, ice-times, costs, and the features that make our program so unique.</p>

<section>
    <h2 class="section-heading">Strength and Conditioning</h2>

    <h4>Assessments</h4>
    <img class="alignright" src="/assets/images/content-image-1.jpg" />
    <p>At the start and end of each training block, all players will undergo a comprehensive battery of fitness tests designed to give both the coach, and the athlete a good sense of strengths, weaknesses, and how the training plan should address them.</p>
    <p>Athletes will be given a full fitness report so that they're aware of the items they need to focus on during the summer.</p>

    <h4>Training design</h4>
    <p>Our training program is designed to address the core athletic qualities that are essential to the game of hockey: A high level of physical strength, explosive speed and power, core stability, and a high level of conditioning and resistance to fatigue.</p>
    <p>We structure our program to develop these attributes simulaneously, but in a series of blocks that build upon each other in a way that allows the athlete to make steady progress, but in a balanced, sensible system that doesn't overstress the athlete to the point of burnout or injury.</p>
    <img class="alignright" src="/assets/images/hp2018-2.jpg" />
    <p>Above all, we heavily stress the importance of quality over quantity. We pride ourselves in educating players on the importance of a properly designed warm-up, flawless lifting technique, and recovery strategies that promote growth and help keep the athlete healthy and injury-free.</p>

    <h4>Coaching</h4>
    <p>NLPT boasts the most experienced and educated coaching staff in the region. All of our coaches have pursued either kinesiology, human kinetics, or fitness and health degrees at the post-secondary level and beyond. They are fully certified and have lengthy athletic credentials to their name.</p>
    <p>But beyond their expertise, our coaching staff invests an incredible amount of care and attention into athlete at the gym. The #NLPTfamily is more than just a hashtag, it’s a core principle of our gym.</p>
    <p>To learn more about NLPT's coaching staff and their qualifications, head over to our <a href="/staff">staff page</a>.</p>
    <h4>Environment</h4>
    <p>A good strength and conditioning program is about more than just exercises. Athletes need to be immersed in a culture that supports and pushes them to go beyond what they would otherwise do by themselves.</p>
    <p>It's the opportunity to train alongside other like minded individuals that heightens an athlete's competitive spirit and raises the bar of their self-perceived limitations. </p>
    <p>At NLPT, we take great efforts to not only offer a great program, but a great environment. Expectations are high, attention to detail is demanded, and competition is always encouraged.</p>
    <img class="full-width" src="/assets/images/hp2016crew.jpg" />
    

    

    <h2 class="section-heading">On-Ice Skills Development</h2>

    <h3>2002-2005 Players</h3>
    <img src="/assets/images/HHlogo.png" style="width:150px;float:right;" />
    <p>For the HP2018 program, NLPT has partnered with <a href="http://holistichockey.ca/">Holistic Hockey</a>, founded by local coach and former professional player <a href="http://holistichockey.ca/holistic-hockey-founder-tyler-ertel/">Tyler Ertel</a>, to deliver the on-ice portion of the program. Tyler has over two decades of experience coaching players of all ages, and NLPT is excited to have him on board.</p>

    <h4>Program structure</h4>
    <p>These skates will be high tempo in nature, with a focus on power skating, edge work, stick and hand skills, as well as challenge hockey IQ, compete drills, and both small and large ice scrimmages.</p>
    <p>For questions about the on-ice portion of the program, please email Tyler at <a href="mailto:tyler@holistichockey.ca">tyler@holistichockey.ca</a></p>

    <h4>Ice schedule</h4>
    <table class="table table-small-text table-striped"> 
      <thead> 
        <tr> 
          <td></td> 
          <td><h5>Monday</h5></td> 
          <td><h5>Tuesday</h5></td> 
          <td><h5>Wednesday</h5></td> 
          <td><h5>Thursday</h5></td>
          <td><h5>Friday</h5></td> 
        </tr> 
      </thead> 
      <tbody> 
        <tr>
          <td>
          </td>
          <td>
            <h5>July 2</h5>
          </td>
          <td>
            <h5>July 3</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 4</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 5</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 6</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>July 9</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 10</h5>
          </td>
          <td>
            <h5>July 11</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 12</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 13</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>July 16</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 17</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 18</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 19</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 20</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>July 23</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 24</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 25</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 26</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>July 27</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>July 30</h5>
          </td>
          <td>
            <h5>July 31</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 1</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 2</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 3</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>Aug 6</h5>
          </td>
          <td>
            <h5>Aug 7</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 8</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 9</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 10</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>Aug 13</h5>
          </td>
          <td>
            <h5>Aug 14</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 15</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 16</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 17</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>Aug 20</h5>
          </td>
          <td>
            <h5>Aug 21</h5>
          </td>
          <td>
            <h5>Aug 22</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 23</h5>
            <p>02/03: 12pm-1:30pm</p>
            <p>04/05: 1:30pm-3pm</p>
          </td>
          <td>
            <h5>Aug 24</h5>
          </td>
        </tr>
        <tr>
          <td style="font-weight:normal;" colspan="6"><em>*All skates will take place at the Cambridge Ice Park</em></td>
        </tr>
       </tbody>
    </table>

    <h4>Cost</h4>

    <p>The cost for the on-ice program is $675 (HST included) for HP2018 athletes (regular cost is $750). Register over at <a href="http://www.holistichockey.ca">www.holistichockey.ca</a></p>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <p>HP2018 athletes that register for the on-ice program will receive 10% off their cost for off-ice strength and conditioning.</p>
    </div>
  </div>



    <img class="full-width" src="/assets/images/tyler-ertel.jpg" />

    <h3>Pro-Jr Players</h3>

    <p>The on-ice component to this year's program will a weekly skate, organized in an unstructured scrimmage format. Times, dates, and cost are dependent on athlete enrollment and details will be released closer to the start of the program.</p>

  <h2 class="section-heading">Nutrition and Recovery</h2>

  <img class="alignright" src="/assets/images/platzmassage.jpg" />

  <p>Unlike 10 years ago, it’s no longer just about the training. Nutrition and recovery are now crucial components to an athlete’s development plan and our 2018 program will provide support on both fronts.</p>

  <p>Athletes will be required to fill out a nutrition logs which will be evaluated by the NLPT coaching and therapy staff, who will then provide feedback and structured guidance on developing sound athlete-centered nutrition habits. Additionally, pre and post-workout Biosteel supplementation will be provided for each training session.</p>

  <p>The HP2018 program will have built in recovery weeks and workouts at strategic points in the summer to ensure athletes stay fresh and ready to perform at times. Pro, NCAA, and OHL athletes will also be provided with complimentary weekly 30-minute massage therapy sessions.</p>
</section>
<section>
  <h2>HP2018 Schedules, costs and program options</h2>
  <img class="alignright" src="/assets/images/programs.jpg" />
  <h3>Important dates</h3>
  <p class="no-margin">16-week program start: May 7th</p>
  <p class="no-margin">12-week program start: June 4th</p>
  <p class="no-margin">8-week program start: July 3rd</p>
  <p>4-week program start: July 30th</p>

  <h5>Holidays</h5>
  <p class="no-margin">Monday, May 21st - Victoria Day</p>
  <p class="no-margin">Monday, July 2nd - Canada Day</p>
  <p>Monday, Aug 6th - Civic Holiday</p>

  <h3>Training times</h3>
  <H4>May 7th - June 30th</H4>
  <h5>Cambridge</h5>
  <p class="no-margin">PRO / NCAA / OHL: TBD</p>
  <p>2002-2005: Mon-Fri: 3pm - 6:30pm</p>

  <h5>Stratford</h5>
  <p class="no-margin">PRO / NCAA / OHL: TBD</p>
  <p>2002-2005: Mon-Fri: 3pm - 5pm; Mon/Thur: 6pm-7:30pm</p>

  <h4>July 3rd - Aug 24th</h4>
  <h5>Cambridge</h5>
  <p class="no-margin">PRO/NCAA/JR: Mon-Fri: 8:30-10:30am</p>
  <p class="no-margin">2002-2003: Mon-Fri: 10-11:30am</p>
  <p>2004-2005: Mon-Fri: 11:30am-12:30pm</p>
  <h5>Stratford</h5>
  <p class="no-margin">PRO-2002: Mon-Fri: 10:30am-12:00pm</p>
  <p class="no-margin">PRO-2005: Mon-Fri: 1-3pm; Mon/Wed: 6-7:30pm</p>
  <h3>Costs</h3>
    <div class="panel panel-warning">
    <div class="panel-heading">
      <p>These costs include the price of training only. HP2018 athletes that register for the on-ice program will receive 10% off BOTH the cost of the on-ice and off-ice program.</p>
    </div>
  </div>

  <table class="table table-striped table-small-text">
  <thead>
    <tr>
      <td rowspan="2"></td>
      <td rowspan="2"><h5>Sessions / week</h5></td>
      <td rowspan="2"><h5>16-week option</h5></td>
      <td rowspan="2"><h5>12-week option</h5></td>
      <td rowspan="2"><h5>8-week option</h5></td>
      <td rowspan="2"><h5>4-week option</h5></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h5>Pro/NCAA/OHL</h5>
        <p>Includes monthly massage therapy treatment, pre and post-workout supplementation.</p>
      </td>
      <td><p>5</p></td>
      <td><p>$2399</p></td>
      <td><p>$2099</p></td>
      <td><p>$1450</p></td>
      <td><p>$799</p></td>
    </tr>
    <tr>
      <td>
        <h5>Jr-2003</h5>
        <p>Includes pre and post-workout supplementation</p>
      </td>
      <td><p>5</p></td>
      <td><p>$2199</p></td>
      <td><p>$1899</p></td>
      <td><p>$1299</p></td>
      <td><p>$699</p></td>
    </tr>
    <tr>
      <td>
        <h5>2004-2005</h5>
        <p>Includes pre and post-workout supplementation</p>
      </td>
      <td><p>3</p></td>
      <td><p>$1200</p></td>
      <td><p>$999</p></td>
      <td><p>$750</p></td>
      <td><p>$425</p></td>
    </tr>
    <tr>
      <td colspan="8">
        <em style="display:block;text-align:left;margin-bottom:5px;">* Prices do not include HST</em>
        <em style="display:block;text-align:left;margin-bottom:5px;">* Take additional 10% off if signed up for on-ice program.</em>
      </td>
    </tr>
  </tbody>
</table>
</section>

<section>

  <h2>How to register</h2>
  <p>In order to secure your spot we must receive a deposit (see below to determine deposit amount and payment schedule). The remainder of your balance can be made in equal installments on June 1st, July 1st, and August 1st depending on program length.</p>
  <table style="width:400px;" class="table table-small-text">
    <thead>
      <th>Program</th>
      <th>Deposit</th>
      <th>Payment Schedule</th>
    </thead>
    <tbody>
      <tr>
        <td>16-week program</td>
        <td>$500</td>
        <td>Remainder paid on May 1st, June 1st, July 1st, Aug 1st</td>
      </tr>
      <tr>
        <td>12-week program</td>
        <td>$400</td>
        <td>Remainder paid on June 1st, July 1st, Aug 1st</td>
      </tr>
      <tr>
        <td>8-week program</td>
        <td>$300</td>
        <td>Remainder paid on July 1st, Aug 1st</td>
      </tr>
      <tr>
        <td>4-week program</td>
        <td>$200</td>
        <td>Remainder paid on Aug 1st</td>
      </tr>
    </tbody>
  </table>
  <p>Here's how to register.</p>
  <h4>By email</h4>
  <p>1. Send us an email at: <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> with the subject 'HP2018 Registration'</p>
  <p>2. Please specify your son/daughter's age, where they played last year, along with the program option you would like to sign up for.</p>
  <p>3. Someone from NLPT will be in contact with you shortly to set up your deposit payment and take registration information.</p>
  <p>4. If you plan on attending the on-ice portion, please do so through <a href="http://www.holistichockey.ca">Holistic Hockey</a> by sending Tyler an email at <a href="mailto:tyler@holistichockey.ca">tyler@holistichockey.ca</a>. When you do, an <b>additional 10% will be taken off of the total cost of the off-ice training portion</b></p>

  <h4>By phone</h4>
  <p>1. Call us at 519-620-9898</p>
  <p>2. Someone from the gym will answer (or return your voicemail shortly) and collect all of the necessary infomration.</p>
  <p>3.Deposits can be made over the phone with a credit card and a receipt will be emailed to you.</p>
</section>
{{> "contact_bar"}}


      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
