{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/content-image-athlete-3.png')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">NLPT Athlete</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">

          <section>
          <img class="alignright" src="/assets/images/content-image-1.jpg">
          <p>For athletes in the Cambridge, Kitchener and Waterloo area, there is no better environment to train in than NLPT. Our intimate, and hard-working atmosphere creates an environment that simply can not be replicated in your typical “gym”.</p>

          <p>You’ll also find that our coaches are some of the most experienced and knowledgeable in the area. Aside from their athletic and academic accomplishments (see <a href="/staff/">staff page</a>), they believe in setting a good example for all athletes by preaching hard-work, accountability, and consistency both in and out of the gym.</p>


          <p>NLPTathlete is a fully-individualized training system designed to match the needs of both the athlete and the athlete’s sport.</p>
          <p>Each new athlete begins with an assessment and movement screen in order to give coaches an idea exactly where the athlete stands and how the training process should begin.</p>

          <blockquote>
            <p>"Everyone in here really helps you to elevate your game. Each athlete that trains here just wants to get better, and you see that, which internally drives you."</p>
            <p>Scott Stajcer, 21</p>
          </blockquote>
          </section>
          <img src="/assets/images/email-cover.jpg" class="full-width" />

          <section>
            <h1>Program philosophy</h1>

            <h3>Programming</h3>

            {{!-- <img class="img-right-25" src="/assets/images/content-image-2.jpg"> --}}
            
            <p>All programs are designed with considerations for the athlete's, age, specific training goals, injury history, physical capabilities and playing schedules. We believe in teaching the core fundamentals of training and building athletic skills in a systematic and age-appropriate way. Our programs are comprehensive and balanced, emphasizing movement skills, speed and power training, strength development, and energy system work all while making sure the athlete is training safely and responsibly.</p>

            <h3>Environment</h3>

            <p>Many of our athletes and families have told us that our programming methodology goes much beyond a simple workout plan. As coaches, we see it as our responsibility not only write a good program, but create the right environment where that program's potential can be fulfilled. The training environment at NLPT is one of accountability, hard work, fun and getting results.</p>

            <h3>Coaching</h3>

            <p>NLPT boasts the most experienced and educated coaching staff in the region. All of our coaches have pursued either kinesiology, human kinetics, or fitness and health degrees at the post-secondary level and beyond. They are fully certified and have lengthy athletic credentials to their name.</p>
            <p>But beyond their expertise, our coaching staff invests an incredible amount of care and attention into athlete at the gym. The #NLPTfamily is more than just a hashtag, it’s a core principle of our gym.</p>

            <blockquote>
              <p>"You can be independent in your own program but still receive help if needed. I love it and I’m not going anywhere for a long time."</p>
              <p>Rachel Tadross, 14</p>
            </blockquote>
          </section>
            <img src="/assets/images/content-image-athlete.jpg" class="full-width" />
          <section class="section-div">
            <h1>How it works</h1>
            <h3>Step 1: Assessment</h3>
            <p>The first step in the process of training is to schedule a 1-on-1 assessment with a strength and conditioning coach. The purpose of this assessment is to give us a chance to get to know the athlete as well as possible, so that we can craft a program that's tailored to his or her individual needs.</p>
            <p>Assessments go far beyond measurements. They're an opportunity for us as coaches to understand the athlete on a deep level, explain our approach, set expectations, as well as give the athlete an opportunity to get to know us and how the training system works at NLPT. </p>

            <p>Here are the primary objectives we cover with each new athlete:</p>

            <ul>
              <li>Sport background and current training goals</li>
              <li>Medical background</li>
              <li>Recent musculoskeletal pain and injury history</li>
              <li>Training background and assessment of experience in the gym</li>
              <li>Movement quality testing and mobility evaluation</li>
              <li>Biometric data collection (Height, weight, resting heart rate)</li>
              <li>Speed and power assessment (various sprints and jumps)</li>
              <li>Conditioning assessment</li>
            </ul>

            <p>We follow up each assessment with a report back to the athlete on how they performed, as well as comparative analysis with other athletes their age.</p>
            <h3>Step 2: Program design</h3>
            <p>Moving forward from the assessment, one of our coaches will construct a 4-week strength and conditioning program that aligns with the athlete's age, experience level, injury status, and training needs.</p>
            <p>We do not use templates to generate programs for our athletes. We construct each program from the ground up so that each athlete's needs are covered as thoroughly as possible. </p>
            <h3>Step 3: Training</h3>
            <p>After the assessment is done and the program is written, the athlete is now able to start training.</p>
            <h4>Scheduling</h4>
            <p>At NLPT, we do not have scheduled sessions, groups, or classes. Instead, athletes are free to visit the gym any time during NLPTathlete training windows where a coach will be on-site to greet them, retreive their individualized program, and get them started on their workout for the day.</p>
            <h4>Coaching environment</h4>
            <p>Training is done in a semi-private structure, meaning other athletes may be in the gym at the same time and coaches are responsible for overseeing the training of multiple athletes. This comes with a few important considerations:</p>

            <p>First, we keep coach:athlete ratios very low. A busy gym for us is between 6-8 athletes at a time. With multiple athletes training together, it's very important that we maintain the ability to coach multiple athletes effectively.</p>
            <img src="/assets/images/content-image-athlete-3.png" class="alignright" />

            <p>Second, athletes are expected to learn their program. We do not hold clipboards, stop watches, or hold the athlete's hand through the training process. Part of our core philosophy is teaching athletes how to train properly, and this means forcing them to take ownership over their training and development.</p>

            <p>As coaches, our roles are to teach, guide, help make correct decisions, ensure safe execution of exercises, answer questions, coach technique, make program adjustments, and mentor the athletes through the training process.</p>

            <h3>Step 4: Reassessment</h3>
            <p>Programs are written in 4-week blocks. After an athlete completes a program and has progressed in their athleticism, a new program is written that accommodates their increase in fitness and training knowledge.</p>
            <p>Every 8 weeks, we reassess each athlete on their biometrics, speed and power measures, and conditioning performance, which further guides our programming.</p>
          </section>
          
          <section class="section-div">
            <h2>Pricing and enrollment</h2>
              
                <div class="category">
                  <h4 class="category-top">Option 1</h4>
                  <h3 class="category-bottom" id="open-membership">Silver Membership </h3>
                </div>

                <p>$89 <span>per month</span></p>
                <h5 class="no-margin">Features</h5>
                <p>1 session per week</p>
                <h5 class="no-margin">Perfect for</h5>
                <p>In-season athletes who are older than 14 and have highly demanding schedules.</p>

                <div class="category">
                  <h4 class="category-top">Option 2</h4>
                  <h3 class="category-bottom" id="open-membership">Gold Membership </h3>
                </div>

                <p>$159 <span>per month</span></p>
                <h5 class="no-margin">Features</h5>
                <p>2 sessions per week</p>
                <h5 class="no-margin">Perfect for</h5>
                <p>Younger athletes (under 14) who are newer to training. This option works well at any time of the year.</p>

                <div class="category">
                  <h4 class="category-top">Option 3</h4>
                  <h3 class="category-bottom" id="open-membership">Platinum Membership </h3>
                </div>

                <p>$219 <span>per month</span></p>
                <h5 class="no-margin">Features</h5>
                <p>3 sessions per week</p>
                <h5 class="no-margin">Perfect for</h5>
                <p>Off-season training or if the athlete has a lighter competitive schedule.</p>
              </section>
              <section class="section-div">
            <h2>How to register</h2>
            <p>To get started, please send us an email at <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> and we will be in touch with you shortly about scheduling an assessment, or to set up a tour of the gym.</p>
          </section>
        {{> "contact_bar"}}


      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
