{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/content-image-youth-2.jpg')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Contact & Info</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">
          <div class="contact-info-locations">
            <div class="quick-info">
              <h3 class="header">Cambridge</h3>
              <h5>Address</h5>
              <p>460 Thompson Dr, Unit 4</p>
              <p>Cambridge, Ontario</p>
              <p>N1T 2K8</p>

              <h5>Hours</h5>
              <p>Monday: 6am-9am;12pm-9pm</p>
              <p>Tuesday: 6am-9am;12pm-9pm</p>
              <p>Wednesday: 6am-9am;12pm-9pm</p>
              <p>Thursday: 6am-9am;12pm-9pm</p>
              <p>Friday: 6am-9am;12pm-1pm; 3pm-6:30pm</p>
              <p>Saturday: 8am-12pm</p>
              <p>Sunday: Closed</p>

              <h5>Phone</h5>
              <p>(519) 620-9898</p>

              <h5>Email</h5>
              <p>info@mynlpt.com</p>
            </div>

            <div class="quick-info">
              <h3 class="header">Stratford</h3>
              <h5>Address</h5>
              <p>Stratford Rotary Complex</p>
              <p>353 McCarthy Dr</p>
              <p> Stratford, Otario N5A 7S7</p>

              <h5>Hours</h5>
              <p>Monday: 12pm-8:30pm</p>
              <p>Tuesday: 12pm-8:30pm</p>
              <p>Wednesday: 12pm-8:30pm</p>
              <p>Thursday: 12pm-8:30pm</p>
              <p>Friday: 12pm-6:30pm</p>
              <p>Saturday: Closed</p>
              <p>Sunday: Closed</p>

              <h5>Phone</h5>
              <p>(519) 620-9898</p>

              <h5>Email</h5>
              <p>info@mynlpt.com</p>
            </div>
          </div>

          <div class="quick-info">
            <h3 class="header">2018 Holiday hours</h3>
            <p>Jan 1 - New Year's - Closed</p>
            <p>Feb 19 - Family Day - Closed</p>
            <p>Mar 30 - Easter - Closed</p>
            <p>Mar 31 - Easter - Closed</p>
            <p>April 1 - Easter - Closed</p>
            <p>April 2 - Easter - Closed</p>
            <p>May 21 - Victoria Day - Closed</p>
            <p>July 1 - Canada Day - Closed</p>
            <p>July 2 - Canada Day - Closed</p>
            <p>Aug 6 - Civic Holiday - Closed</p>
            <p>Sep 2 - Labour Day - Closed</p>
            <p>Sep 3 - Labour Day - Closed</p>
            <p>Oct 7 - Thanksgiving - Closed</p>
            <p>Oct 8 - Thanksgiving - Closed</p>

          </div>

          <div class="quick-info">
            <h3 class="header">Send us a message directly</h3>
            <p>Have a program inquiry? Question about our hours? Looking to book a massage? Submit your message below and someone will be in touch with you shortly.</p>
          </div>
        <!-- www.123contactform.com script begins here -->
        <script type="text/javascript" defer src="//www.123contactform.com/embed/2253738.js" data-role="form"></script>
        <p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--2253738.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->


      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
