{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        {{#if feature_image}}
        <div class="cover-bg" style="background-image: url({{feature_image}})"></div>
        {{/if}}
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Team Training</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">

  <p>Since 2007, NLPT has been the leader in team strength and conditioning throughout the Waterloo region. Over the years we have worked with over 150 sports teams from Cambridge, Kitchener, Waterloo, Guelph, Markham, Halton, and Huron-Perth with sports ranging from hockey, ringette, football, basketball and baseball.</p>

  <blockquote>
    <p>I have coached many hockey teams in Waterloo Region the past four decades and have been associated with the NLPT group since their early days in Kitchener. I am a strong supporter in what NLPT has to offer, its location, first class facilities and the instructors are top notch -- they are that good.</p>
    <p>As coach of the Midget AA Roadrunner team this past year, I know the players enjoyed the environment and experiences of NLPT. As a coach looking for high performing athletes I know the NLPT model works as our team vastly improved throughout the year.  </p>
    <p>Our 11 year old daughter has recently joined the NLPT family and already we are seeing positive results in her physical and emotional growth.</p>
    <p>As coach of the Roadrunners Midget AA hockey team ands a parent, Andrew, Eric, Eric and Zach -- thanks for all you do.</p>
    <p>-Fred Gregory, Head Coach, Cambridge Midget AA Roadrunners</p>
  </blockquote>

  <img class="full-width" src="/assets/images/content-image-6-team.jpg">
  <section>
    <h1>Team Training Philosophy</h1>

    <p>Below is a summary on the four topics that are a part of every team training session at NLPT. The exercises and other program design specifics change depending on the team that we work with, but the general structure stays consistent.</p>

    <h3>Pillar #1: Movement Mechanics and Dynamic Warm Up</h3>

    <p>The first couple weeks of training will be primarily focused on teaching the fundamentals of a proper warm-up, proper movement mechanics, and proper training behaviour. Our philosophy is that since we’ll be asking them to move a lot, we had better spend time making sure they move well. Strength and conditioning programs that neglect this step often build strong, but dysfunctional athletes.</p>


    <h3>Pillar #2: Strength and Speed Development</h3>

    <p>At NLPT, we spend a considerable amount of time working on general strength development. The reason we do this is that by simply improving general strength, nearly all of the other athletic abilities improve as a result. Speed improves as the athlete is able to direct more force into the ice with each stride. We develop strength both through bodyweight (and when necessary, externally weighted) movements and always emphasize proper technique over more weight on the bar.</p>
    <img class="alignright" src="/assets/images/content-image-11-team.jpg">
    <h3>Pillar #3: Metabolic Conditioning</h3>

    <p>The third area of focus at NLPT is conditioning. Everybody knows what it’s like to either be a part of, or witness a team that burns out at the end of a game. We take pride in knowing that this isn’t a concern for the teams that we train.</p>

    <p>We also go to great lengths to make sure our conditioning sessions are extremely high-energy, interactive and competitive for the team. Besides just getting in good shape, it’s during our conditioning time that teams really learn to come together and push each other to get the work done. Each week presents a new challenge or a different conditioning circuit to ensure things never get stale or boring.</p>

    <h3>Pillar #4: Competition</h3>

    <p>Athletes thrive under competition. We believe that the ability to work hard and push one’s self physically is a characteristic that must be learned like any other.</p>

    <p>During the season, we set the bar high for our athletes and present a variety of challenges that when met, develop a sense of accomplishment and self-confidence. At NLPT, pushing beyond perceived limitations is just a part of our day.</p>

    <blockquote>
      <p>"When I first heard Andrew and Eric talk about their NLPTfamily I thought it was just talk.  I was completely wrong.  These guys genuinely care about their teams and their athletes."</p>
      <p>Geoff Haddaway, Head Coach, Cambridge Rivulettes</p>

    </blockquote>
  </section>
  <section>
    <h1>Enrollment Packages</h1>

    <img class="alignright" src="/assets/images/content-image-4-team.jpg">

    <h3>Standard Package</h3>

    <p>  With this option, teams choose when and how often they train. There is no minimum or maximum of now many sessions that can be booked--it all depends on your schedule. Historically, teams typically decide to train with us once per week during their season.</p>


    <h3>Elite Package</h3>

    <p>Our Elite Season Plan is designed to cover your team from the fall all the way through playoffs. The program runs from the beginning of September all the way up until the beginning of April. No need to count sessions either! Your team is welcome to continue training with us right up until the end of playoffs.</p>

    <p>This option includes more than just a weekly workout. All players are entitled to a second training session per week during our NLPTathlete hours, where they are given an individualized training plan and are coached in a much lower coach to athlete ratio compared to their weekly team workout. Additionally, all players will receive our athlete nutrition handbook that covers everything from the building blocks of a sound diet, to nutritional strategies that young athletes will be able to implement whether at home, at school, or on the road. Teams that enroll in our Season Plan will also get to attend a nutrition seminar put on at NLPT at some point during the year.</p>

    <h3>Elite Plus Option</h3>
    <h5><em>*Only available to individual athletes whose teams currently train with NLPT.</em></h5>

    <p>Our elite plus option is an opt-in program for players that are already training with their team, but want to take their off-ice commitment to the next level. In addition to all of the benefits in our Elite Season Plan, players that choose our Elite option are entitled to a 3rd weekly training session, nutrition coaching, a free item of NLPT apparel, and a 20% discount off all Biosteel products.</p>

    <p>The estimated value of this plan is $920:</p>

    <ul>
      <li>$623 for a regular NLPTathlete membership at one session per week for 7 months</li>
      <li>$200 for our athlete nutrition coaching program</li>
      <li>$77 estimated savings from a monthly tub of Biosteel High Performance Sports Drink</li>
      <li>$30 savings of an NLPT shirt or hat</li>
      <li>But we’re offering this plan for only $300 per player for the year, which breaks down to about $10 per week and represents a savings of 67%!</li>
    </ul>
  </section>

  <section>
    <h1>Pricing</h1>
    <h3>Program options for teams and organizations</h3>
    <p>The following two options are available to all teams. Invoicing and payment is all handled directly with the team or organization, not through the individual athletes.</p>
    
    <div class="row">
      <div class="col-sm-5 quick-info">
        <h3 class="header">Standard</h3>
        <h4>$140 <span>per team per session</span></h4>
        <p><span>Breaks down to $8.23 per athlete per session (Estimated for a team of 17 athletes)</span></p>
        <br>
        <p><b>Features</b></p>
        <p>Maximum schedule flexibility</p>
        <br>
        <p><b>Perfect for</b></p>
        <p>Teams that want to participate in a structured strength and conditioning program but plan on training irregularly or who will need maximum flexibility with their schedule.</p>
      </div>

      <div class="col-sm-5 col-sm-offset-2 quick-info">
        <h3 class="header">Elite Package</h3>
        <h4>$399 <span>per player per season</span></h4>
        <p><span>Breaks down to $8.31 per athlete per session. Estimated at 48 sessions (24 team, 24 individual) per season.</span></p>
        <br>
        <p><b>Features</b></p>
        <p>Training services provided for <strong>entire season</strong></p>
        <p>1 team training session per week</p>
        <p>1 individual training session per week</p>
        <p>NLPT athlete nutrition handbook</p>
        <br>
        <p><b>Perfect for</b></p>
        <p>Teams that wish to seriously invest in off-ice development.</p>
      </div>
    </div>
  </section>

{{!-- {{> "contact_bar"}} --}}






      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
