{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/programs.jpg')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Programs</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->

      <div class="post-content inner">
        
        <p>We offer a wide variety of programs for both young and elite athletes, teams, and adults looking to get in the best shape of their lives.</p>

        <h3 class="text-center">For Athletes</h3>
        <div class="programs-container">
          <a href="/nlpt-athlete" class="program program-athlete img-shadow-lg">
            <div class="program-content">
              <p class="program-title">NLPTathlete</p>
              <p class="program-info">Our year-round training program for athletes 12 and up.</p>
            </div>
          </a>

{{!--           <a href="/learn-to-train" class="program program-learn-to-train img-shadow-lg">
            <div class="program-content">
              <p class="program-title">Learn to Train</p>
              <p class="program-info">Our youth training program for athletes 11 and under.</p>
            </div>
          </a>
 --}}
          <a href="/summerhockeytraining" class="program program-hp img-shadow-lg">
            <div class="program-content">
              <p class="program-title">HP Hockey Program</p>
              <p class="program-info">Our summer hockey performance program that includes both on and off-ice training.</p>
            </div>
          </a>
        </div>

        <h3 class="text-center">For Adults</h3>
        <div class="programs-container">
          <a href="/fitness" class="program program-fitness img-shadow-lg">
            <div class="program-content">
              <p class="program-title">Fitness Programs</p>
              <p class="program-info"> Four different programs for adults ranging from basic gym memberships, to highly personalized program design.</p>
            </div>
          </a>

          <a href="/70-day-challenge" class="program program-70 img-shadow-lg">
            <div class="program-content">
              <p class="program-title">70 Day Challenge</p>
              <p class="program-info">Our semi-annual 10-week fitness challenge for adults.</p>
            </div>
          </a>

          <a href="/daily-optimization" class="program program-daily img-shadow-lg">
            <div class="program-content">
              <p class="program-title">Daily Optimization</p>
              <p class="program-info">Our lifestyle coaching program covering nutrition, sleep, and stress management.</p>
            </div>
          </a>
        </div>

        <h3 class="text-center">For Teams</h3>
        <div class="programs-container">
          <a href="/nlpt-team" class="program program-team img-shadow-lg">
            <div class="program-content">
            <p class="program-title">Team Training</p>
              <p class="program-info">Offering a variety of in-season training options for teams and sport organizations</p>
            </div>
          </a>          
        </div> 

{{> "contact_bar"}}


      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
