{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        {{#if feature_image}}
        <div class="cover-bg" style="background-image: url({{feature_image}})"></div>
        {{/if}}
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Learn to Train</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">

        {{!< default}}

<section>
  <img class="alignleft" src="/assets/images/learn_to_train.png" />

  <p>Athletes between the ages of 8 and 11 fall into our Learn to Train category. While these young athletes still get treated the same as any other athlete at NLPT, we look at their programming and development through slightly different lense than their older counterparts. </p>

  <p>Rather than emphasizing performance and specialization, we prioritize education, competency, and quality. We want these young athletes to not just be fit and athletically competency, but have a good foundation of skills and knowledge regarding training, nutrition, and healthy living that they can build from once they reach a more mature age.</p>
  <div>
    <div>
      <h3>Want to sign-up?</h3>
      <p>Register for Learn to Train here.</p>
      <a href="/learn-to-train-signup" class="btn btn-primary btn-lg">Register online</a>
    </div>
    <div>
      <h3>Reserve a spot</h3>
      <p>Class sizes will be limited, please reserve your spot online so we know you're coming!</p>
      <a href="https://clients.mindbodyonline.com/ASP/su1.asp?studioid=269910&tg=&vt=&lvl=&stype=&view=&trn=0&page=&catid=&prodid=&date=3%2f1%2f2018&classid=0&prodGroupId=&sSU=&optForwardingLink=&qParam=&justloggedin=&nLgIn=&pMode=0&loc=1" class="btn btn-primary btn-lg">Reserve a spot</a>
    </div>
  </div>
</section>
<img src="/assets/images/content-image-youth-6.jpg" class="full-width" />
<section>
  <h1>Program cornerstones</h1>
  <div>
    <h3>Quality first</h3>

    <p>This is not the age to be overly focused on immediate outcomes. It’s all about quality. We emphasize proper mechanics and technique above anything else at this age. Success in athletics, as in many things in life, comes by being consistent for a long period of time. These young athletes are at the beginning of their journey, and we believe it should start by learning to do the basics, and learning them well.</p>

    <h3>Global approach</h3>

    <p>Strength and speed are the common athletic traits most people think of when they imagine great athleticism. But there are other athletic qualities that must be developed at this very special age that many coaches neglect. For example: balance, rhythm, coordination, spatial awareness, and reactiveness are all important athletic qualities that should play a big role in the program of a young athlete.</p>
    
    <h3>Competency</h3>

    <p>Measurement and evaluation is a critical piece of any performance training program. With our older athletes, we do detailed assessments that measure their speed, power, and overall fitness, but with the young athletes in our Learn to Train program, we have a competency-based system of assessment.</p>
    <p>The primary goal of this program is to teach them critical skills when it comes to training and healthy living, and so our evaluation process revolves around their ability to demonstrate both the execution of those skills, as well as their knowledge of them. For example:</p>

    <h4>Example performance standards</h4>
    <ul>
      <li>Be able to execute 5 perfect push-ups.</li>
      <li>Be able to perform a proper overhead squat.</li>
      <li>Show competent decelleration technique when sprinting.</li>
    </ul>

    <h4>Example knowledge standards</h4>
    <ul>
      <li>What are the three technique points that go into a proper squat?</li>
      <li>Why is it important to warm-up prior to training?</li>
      <li>Name three high-protein foods.</li>
    </ul>

    <h3>Attentiveness</h3>

    <p>Athletes that simply go through the motions are wasting their time. With our youth program, we emphasize drills and exercises that require their full attention in order to be performed correctly. The purpose behind this is to facilitate the motor learning process, which requires purposeful movement. Mindless reps are soon forgotten.</p>

    <h3>Accountability and leadership</h3>

    <p>We’ve discovered that when put in the right environment, many young athletes are capable of a lot more responsibility than they’re given credit for. We don’t hold anyone’s hand and we don’t babysit.</p>

    <p>While we try to keep a friendly atmosphere in the gym, we make it very clear to all athletes that they’re here to train. ALL athletes are expected to show up on time, begin their warm-up on their own, stay on task, be respectful, and put all equipment away.</p>
  </div>
</section>

<img src="/assets/images/content-image-youth-8.jpg" class="full-width" />

<section>
  <h1>Training emphases</h1>
  <p>So how exactly do we think about programming for young athletes? What sorts of things do we work on? Below are a couple of key athletic qualities that we prioritize in the Learn to Train program.</p>
  <h3>Strength</h3>
  <p>General strength is a foundational ability that we emphasize with all athletes at NLPT. Athletes who are stronger are more resilient to injury, have more explosive potential, and can also improve running and skating speed. We start with simple, bodyweight exercises, emphasizing good control and technique above all else.</p>
  <h3>Speed</h3>
  <p>Speed is a skill. And we teach it by first developing the proper mechanics of speed, and then putting athletes in situations where they're compelled to move fast. We use a range of drills and exercises that are not only challenging, but fun and engaging for these young athletes.</p>
  <h3>Coordination and balance</h3>
  <p>It's not enough for athletes to just be strong, they also need to learn how to control their strength. Being a well-rounded athlete means moving fluidly with balance and coordination. We apply a variety of drills and exercises that facilitate improvent in this very crucial area.</p>

</section>
<img src="/assets/images/content-image-youth-2.jpg" class="full-width" />

<div>

  <h1>L2T Program FAQ</h1>

  <h3><em>"Are they going to be lifting weights?"</em></h3>

  <p>Parents that ask this question usually have an image in their mind of either a barbell on their child’s back or a set of heavy dumbbells in their hand. To this image, the answer is no. However, that’s not to say that we won’t apply load to the body. Application of load or stress is what tells the body to grow, so naturally we have to do something to create this response. We prefer to apply this load with the use of bodyweight exercises at this stage in their development. Although we will sometimes use light weights as a tool to help us safely achieve this goal.</p>

  <h3><em>"I have a daughter, is there a girls program she can enroll in?"</em></h3>

  <p>No. We have a lot of female athletes at NLPT and everyone trains together.</p>

  <h3><em>"Do you do (insert sport of choice here) specific training?"</em></h3>

  <p>Not at this age. We don’t create specialized training programs for any particular sport at this stage in their development. That is something that comes much later. At this age, we feel that all athletes should be working on their overall athleticism and learning to perform the basics well.</p>

  <p>However, because most sports have more commonalities than differences, the chances are that their performance will improve as a result of the training. So in that sense, the answer is yes! Any form of training that improves performance is considered sport-specific. It just so happens that the same form of training can improve performance in a multitude of sports.</p>

  <h3><em>"How often should my kid train?"</em></h3>

  <p>We typically recommend athletes train 2 or 3 times per week in our program.</p>

  <h3><em>"My kid needs to get faster."</em></h3>

  <p>Don't they all! We get a lot of questions and requests about speed, agility, and core stregth. As described above, there are a lot of athletic qualities we’ll be working on with your son or daughter. Speed will come as a result of them getting stronger (they’ll be able to push harder into the ground), and improving their mechanics (they’ll be more efficient in their movement).</p>
</div>
<img src="/assets/images/content-image-youth-7.jpg" class="full-width" />

<div>
  <h1>Schedule</h1>
  <p>We try to have a Learn to Train session available most days of the week, including weekends. Please note that specific times may vary week-to-week, so please check here to see the latest updates in L2T times.</p>

  <h3>Cambridge</h3>
      <table class="table table-small-text table-striped"> 
      <thead> 
        <tr> 
          <td></td> 
          <td><h5>Monday</h5></td> 
          <td><h5>Tuesday</h5></td> 
          <td><h5>Wednesday</h5></td> 
          <td><h5>Thursday</h5></td>
          <td><h5>Friday</h5></td> 
          <td><h5>Saturday</h5></td> 
          <td><h5>Sunday</h5></td> 
        </tr> 
      </thead> 
      <tbody> 
        <tr>
          <td></td>
          <td>
            <h5>June 11</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 12</h5>
            <p>7-8pm</p>
          </td>
          <td>
            <h5>June 13</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 14</h5>
            <p>7:30-8:30pm</p>
          </td>
          <td>
            <h5>June 15</h5>
          </td>
          <td>
            <h5>June 16</h5>
            <p>10-11am</p>
          </td>
          <td>
            <h5>June 17</h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <h5>June 18</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 19</h5>
            <p>7-8pm</p>
          </td>
          <td>
            <h5>June 20</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 21</h5>
            <p>7:30-8:30pm</p>
          </td>
          <td>
            <h5>June 22</h5>
          </td>
          <td>
            <h5>June 23</h5>
            <p>10-11am</p>
          </td>
          <td>
            <h5>June 24</h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <h5>June 25</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 26</h5>
            <p>7-8pm</p>
          </td>
          <td>
            <h5>June 27</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 28</h5>
            <p>7:30-8:30pm</p>
          </td>
          <td>
            <h5>June 29</h5>
          </td>
          <td>
            <h5>June 30</h5>
          </td>
          <td>
            <h5>July 1</h5>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Stratford</h3>
      <table class="table table-small-text table-striped"> 
      <thead> 
        <tr> 
          <td></td> 
          <td><h5>Monday</h5></td> 
          <td><h5>Tuesday</h5></td> 
          <td><h5>Wednesday</h5></td> 
          <td><h5>Thursday</h5></td>
          <td><h5>Friday</h5></td> 
          <td><h5>Saturday</h5></td> 
          <td><h5>Sunday</h5></td> 
        </tr> 
      </thead> 
      <tbody> 
        <tr>
          <td>
          </td>
          <td>
            <h5>June 11</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 12</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 13</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 14</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 15</h5>
          </td>
          <td>
            <h5>June 16</h5>
            <p>10am-11am</p>
          </td>
          <td>
            <h5>June 17</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>June 18</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 19</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 20</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 21</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 22</h5>
          </td>
          <td>
            <h5>June 23</h5>
            <p>10am-11am</p>
          </td>
          <td>
            <h5>June 24</h5>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h5>June 25</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 26</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 27</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 28</h5>
            <p>6:30-7:30pm</p>
          </td>
          <td>
            <h5>June 29</h5>
          </td>
          <td>
            <h5>June 30</h5>
          </td>
          <td>
            <h5>July 1</h5>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<img src="/assets/images/content-image-youth-1.jpg" class="full-width" />
<div>
  <h1>Pricing</h1>

  <p>There are a few options for getting signed up for the Learn to Train program.</p>
  <h3>Monthly Membership</h3>
  <p>$85/month for 2 training sessions per week</p>
  <hr>
  <h3>Punch card</h3>
  <p>$240 for a 20 workout punch card, can be redeemed any time.</p>
  <hr>
  <h3>Drop-in rate</h3>
  <p>$20 per workout</p>
</div>
<div>
  <h1>Signing up</h1>
  <h3>Online</h3>
    <div>
      <p>Register for Learn to Train here.</p>
      <a href="/learn-to-train-signup" class="btn btn-primary btn-lg">Register online</a>
    </div>
      <h3>By phone or email</h3>
      <p>Please call us at (519) 620-9898 or email us at <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> to get registered for Learn to Train.</p>
    </div>
  </div>
</div>

{{!-- {{> "contact_bar"}} --}}


      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
