{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/70-day-2.png')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">The 70 Day Challenge</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">


        <div> 
  <h2 class="text-center">Scoreboard</h2>
  <table class="table table-small-text">
  <thead>
    <tr>
      <th>Team</th>
      <th>W1</th>
      <th>W2</th>
      <th>W3</th>
      <th>W4</th>
      <th>W5</th>
      <th>W6</th>
      <th>W7</th>
      <th>W8</th>
      <th>W9</th>
      <th>W10</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody class="scoreboard">
    <tr class="team">
      <td>
        <h5>The Kettleballers</h5>
      </td>
      <td>149</td>
      <td>144(30)</td>
      <td>127</td>
      <td>148</td>
      <td>116</td>
      <td>115</td>
      <td>95</td>
      <td>135</td>
      <td>132</td>
      <td>138</td>
      <td>1331</td>
    </tr>
    <tr class="people">
      <td>
        <p>Mya</p>
        <p>Erkki</p>
        <p>Sharon</p>
        <p>Lori</p>
      </td>
      <td>
        <p>40</p>
        <p>42</p>
        <p>31</p>
        <p>40</p>
      </td>
      <td>
        <p>38</p>
        <p>39</p>
        <p>36</p>
        <p>36</p>
      </td>
      <td>
        <p>39</p>
        <p>36</p>
        <p>32</p>
        <p>20</p>
      </td>
      <td>
        <p>36</p>
        <p>34</p>
        <p>41</p>
        <p>37</p>
      </td>
      <td>
        <p>34</p>
        <p>29</p>
        <p>24</p>
        <p>29</p>
      </td>
      <td>
        <p>23</p>
        <p>18</p>
        <p>44</p>
        <p>30</p>
      </td>
      <td>
        <p>26</p>
        <p>20</p>
        <p>34</p>
        <p>15</p>
      </td>
      <td>
        <p>35</p>
        <p>26</p>
        <p>41</p>
        <p>33</p>
      </td>
      <td>
        <p>40</p>
        <p>26</p>
        <p>34</p>
        <p>34</p>
      </td>
      <td>
        <p>33</p>
        <p>27</p>
        <p>40</p>
        <p>38</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>106.7 KLPC</h5>
      </td>
      <td>150</td>
      <td>160(30)</td>
      <td>148</td>
      <td>133(30)</td>
      <td>131</td>
      <td>141(30)</td>
      <td>166</td>
      <td>152</td>
      <td>142</td>
      <td>150</td>
      <td>1601</td>
    </tr>
    <tr class="people">
      <td>
        <p>Kevin</p>
        <p>Lyndsay</p>
        <p>Christina</p>
        <p>Peter</p>
      </td>
      <td>
        <p>40</p>
        <p>43</p>
        <p>33</p>
        <p>44</p>
      </td>
      <td>
        <p>38</p>
        <p>44</p>
        <p>36</p>
        <p>42</p>
      </td>
      <td>
        <p>40</p>
        <p>34</p>
        <p>34</p>
        <p>40</p>
      </td>
      <td>
        <p>30</p>
        <p>32</p>
        <p>29</p>
        <p>42</p>
      </td>
      <td>
        <p>44</p>
        <p>29</p>
        <p>26</p>
        <p>32</p>
      </td>
      <td>
        <p>45</p>
        <p>34</p>
        <p>41</p>
        <p>31</p>
      </td>
      <td>
        <p>45</p>
        <p>43</p>
        <p>34</p>
        <p>44</p>
      </td>
      <td>
        <p>45</p>
        <p>37</p>
        <p>30</p>
        <p>40</p>
      </td>
      <td>
        <p>46</p>
        <p>33</p>
        <p>33</p>
        <p>39</p>
      </td>
      <td>
        <p>46</p>
        <p>42</p>
        <p>25</p>
        <p>37</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>The Swingers</h5>
      </td>
      <td>150</td>
      <td>143(30)</td>
      <td>154</td>
      <td>154(15)</td>
      <td>132</td>
      <td>128(30)</td>
      <td>138</td>
      <td>129</td>
      <td>114</td>
      <td>116</td>
      <td>1454</td>
    </tr>
    <tr class="people">
      <td>
        <p>Joe</p>
        <p>Eric</p>
        <p>Rebekah</p>
        <p>Jess</p>
      </td>
      <td>
        <p>32</p>
        <p>42</p>
        <p>38</p>
        <p>45</p>
      </td>
      <td>
        <p>20</p>
        <p>39</p>
        <p>41</p>
        <p>43</p>
      </td>
      <td>
        <p>36</p>
        <p>42</p>
        <p>35</p>
        <p>45</p>
      </td>
      <td>
        <p>36</p>
        <p>38</p>
        <p>37</p>
        <p>43</p>
      </td>
      <td>
        <p>34</p>
        <p>31</p>
        <p>33</p>
        <p>39</p>
      </td>
      <td>
        <p>32</p>
        <p>17</p>
        <p>34</p>
        <p>45</p>
      </td>
      <td>
        <p>35</p>
        <p>37</p>
        <p>35</p>
        <p>41</p>
      </td>
      <td>
        <p>38</p>
        <p>26</p>
        <p>30</p>
        <p>40</p>
      </td>
      <td>
        <p>36</p>
        <p>24</p>
        <p>28</p>
        <p>36</p>
      </td>
      <td>
        <p>27</p>
        <p>29</p>
        <p>42</p>
        <p>28</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>Nice Ladies Power Team</h5>
      </td>
      <td>141</td>
      <td>151(30)</td>
      <td>160</td>
      <td>153</td>
      <td>114</td>
      <td>147</td>
      <td>137</td>
      <td>150</td>
      <td>132</td>
      <td>87</td>
      <td>1397</td>
    </tr>
    <tr class="people">
      <td>
        <p>Kendra</p>
        <p>Steph</p>
        <p>Tracy</p>
        <p>Krista</p>
      </td>
      <td>
        <p>29</p>
        <p>42</p>
        <p>34</p>
        <p>40</p>
      </td>
      <td>
        <p>38</p>
        <p>42</p>
        <p>31</p>
        <p>40</p>
      </td>
      <td>
        <p>39</p>
        <p>41</p>
        <p>38</p>
        <p>42</p>
      </td>
      <td>
        <p>32</p>
        <p>42</p>
        <p>41</p>
        <p>38</p>
      </td>
      <td>
        <p>26</p>
        <p>32</p>
        <p>29</p>
        <p>32</p>
      </td>
      <td>
        <p>30</p>
        <p>36</p>
        <p>41</p>
        <p>40</p>
      </td>
      <td>
        <p>27</p>
        <p>42</p>
        <p>39</p>
        <p>29</p>
      </td>
      <td>
        <p>39</p>
        <p>36</p>
        <p>38</p>
        <p>37</p>
      </td>
      <td>
        <p>29</p>
        <p>31</p>
        <p>39</p>
        <p>40</p>
      </td>
      <td>
        <p>21</p>
        <p>15</p>
        <p>35</p>
        <p>16</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>The Shredders</h5>
      </td>
      <td>106</td>
      <td>133(30)</td>
      <td>131</td>
      <td>88</td>
      <td>103</td>
      <td>93(30)</td>
      <td>94</td>
      <td>91</td>
      <td>112</td>
      <td>68</td>
      <td>1098</td>
    </tr>
    <tr class="people">
      <td>
        <p>Elsa</p>
        <p>Anne</p>
        <p>Emily</p>
        <p>Brittany</p>
      </td>
      <td>
        <p>32</p>
        <p>32</p>
        <p>21</p>
        <p>31</p>
      </td>
      <td>
        <p>40</p>
        <p>31</p>
        <p>37</p>
        <p>35</p>
      </td>
      <td>
        <p>34</p>
        <p>32</p>
        <p>39</p>
        <p>22</p>
      </td>
      <td>
        <p>25</p>
        <p>0</p>
        <p>38</p>
        <p>20</p>
      </td>
      <td>
        <p>38</p>
        <p>25</p>
        <p>34</p>
        <p>21</p>
      </td>
      <td>
        <p>33</p>
        <p>22</p>
        <p>28</p>
        <p>25</p>
      </td>
      <td>
        <p>29</p>
        <p>21</p>
        <p>33</p>
        <p>16</p>
      </td>
      <td>
        <p>36</p>
        <p>19</p>
        <p>30</p>
        <p>16</p>
      </td>
      <td>
        <p>37</p>
        <p>21</p>
        <p>37</p>
        <p>21</p>
      </td>
      <td>
        <p>9</p>
        <p>20</p>
        <p>36</p>
        <p>19</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>The Winers</h5>
      </td>
      <td>156</td>
      <td>144(30)</td>
      <td>126</td>
      <td>93</td>
      <td>73</td>
      <td>120(30)</td>
      <td>100</td>
      <td>90</td>
      <td>100</td>
      <td>87</td>
      <td>1148</td>
    </tr>
    <tr class="people">
      <td>
        <p>Jan</p>
        <p>Terri</p>
        <p>Marianne</p>
        <p>Shannon</p>
      </td>
      <td>
        <p>45</p>
        <p>37</p>
        <p>37</p>
        <p>37</p>
      </td>
      <td>
        <p>39</p>
        <p>34</p>
        <p>37</p>
        <p>34</p>
      </td>
      <td>
        <p>31</p>
        <p>27</p>
        <p>22</p>
        <p>28</p>
      </td>
      <td>
        <p>36</p>
        <p>20</p>
        <p>33</p>
        <p>24</p>
      </td>
      <td>
        <p>38</p>
        <p>21</p>
        <p>15</p>
        <p>24</p>
      </td>
      <td>
        <p>33</p>
        <p>30</p>
        <p>30</p>
        <p>36</p>
      </td>
      <td>
        <p>36</p>
        <p>31</p>
        <p>24</p>
        <p>24</p>
      </td>
      <td>
        <p>36</p>
        <p>28</p>
        <p>23</p>
        <p>23</p>
      </td>
      <td>
        <p>36</p>
        <p>33</p>
        <p>23</p>
        <p>27</p>
      </td>
      <td>
        <p>28</p>
        <p>29</p>
        <p>30</p>
        <p>20</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>Good Clean Fun</h5>
      </td>
      <td>134</td>
      <td>153(30)</td>
      <td>135</td>
      <td>135(15)</td>
      <td>138</td>
      <td>138(30)</td>
      <td>140</td>
      <td>139</td>
      <td>127</td>
      <td>133</td>
      <td>1519</td>
    </tr>
    <tr class="people">
      <td>
        <p>Hillary</p>
        <p>Chris</p>
        <p>Jamie</p>
        <p>Cindy</p>
      </td>
      <td>
        <p>40</p>
        <p>38</p>
        <p>27</p>
        <p>34</p>
      </td>
      <td>
        <p>42</p>
        <p>38</p>
        <p>34</p>
        <p>39</p>
      </td>
      <td>
        <p>38</p>
        <p>38</p>
        <p>23</p>
        <p>36</p>
      </td>
      <td>
        <p>40</p>
        <p>38</p>
        <p>22</p>
        <p>35</p>
      </td>
      <td>
        <p>36</p>
        <p>36</p>
        <p>34</p>
        <p>37</p>
      </td>
      <td>
        <p>35</p>
        <p>35</p>
        <p>37</p>
        <p>36</p>
      </td>
      <td>
        <p>35</p>
        <p>37</p>
        <p>31</p>
        <p>37</p>
      </td>
      <td>
        <p>41</p>
        <p>36</p>
        <p>30</p>
        <p>37</p>
      </td>
      <td>
        <p>39</p>
        <p>37</p>
        <p>31</p>
        <p>37</p>
      </td>
      <td>
        <p>32</p>
        <p>39</p>
        <p>28</p>
        <p>34</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>Buns and Guns</h5>
      </td>
      <td>122</td>
      <td>125(30)</td>
      <td>119</td>
      <td>123</td>
      <td>117</td>
      <td>125(30)</td>
      <td>118</td>
      <td>112</td>
      <td>123</td>
      <td>134</td>
      <td>1309</td>
    </tr>
    <tr class="people">
      <td>
        <p>Melissa</p>
        <p>Lorraine</p>
        <p>Jodilynn</p>
        <p>Diana</p>
      </td>
      <td>
        <p>36</p>
        <p>41</p>
        <p>19</p>
        <p>31</p>
      </td>
      <td>
        <p>43</p>
        <p>40</p>
        <p>15</p>
        <p>32</p>
      </td>
      <td>
        <p>36</p>
        <p>38</p>
        <p>28</p>
        <p>7</p>
      </td>
      <td>
        <p>36</p>
        <p>37</p>
        <p>12</p>
        <p>14</p>
      </td>
      <td>
        <p>31</p>
        <p>34</p>
        <p>22</p>
        <p>30</p>
      </td>
      <td>
        <p>36</p>
        <p>42</p>
        <p>31</p>
        <p>31</p>
      </td>
      <td>
        <p>33</p>
        <p>36</p>
        <p>25</p>
        <p>29</p>
      </td>
      <td>
        <p>33</p>
        <p>38</p>
        <p>26</p>
        <p>15</p>
      </td>
      <td>
        <p>42</p>
        <p>33</p>
        <p>31</p>
        <p>21</p>
      </td>
      <td>
        <p>44</p>
        <p>35</p>
        <p>30</p>
        <p>30</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
    <tr class="team">
      <td>
        <h5>Cast-a-Weighs</h5>
      </td>
      <td>145</td>
      <td>106(30)</td>
      <td>133</td>
      <td>111</td>
      <td>105</td>
      <td>134(30)</td>
      <td>129</td>
      <td>116</td>
      <td>114</td>
      <td>136</td>
      <td>1309</td>
    </tr>
    <tr class="people">
      <td>
        <p>Sheri</p>
        <p>Juliet</p>
        <p>Lisa</p>
        <p>Dylan</p>
      </td>
      <td>
        <p>34</p>
        <p>36</p>
        <p>40</p>
        <p>35</p>
      </td>
      <td>
        <p>23</p>
        <p>20</p>
        <p>40</p>
        <p>33</p>
      </td>
      <td>
        <p>28</p>
        <p>38</p>
        <p>29</p>
        <p>35</p>
      </td>
      <td>
        <p>22</p>
        <p>25</p>
        <p>37</p>
        <p>32</p>
      </td>
      <td>
        <p>22</p>
        <p>22</p>
        <p>31</p>
        <p>31</p>
      </td>
      <td>
        <p>33</p>
        <p>37</p>
        <p>29</p>
        <p>35</p>
      </td>
      <td>
        <p>25</p>
        <p>30</p>
        <p>37</p>
        <p>37</p>
      </td>
      <td>
        <p>29</p>
        <p>34</p>
        <p>21</p>
        <p>32</p>
      </td>
      <td>
        <p>35</p>
        <p>38</p>
        <p>24</p>
        <p>34</p>
      </td>
      <td>
        <p>34</p>
        <p>36</p>
        <p>32</p>
        <p>34</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
    </tr>
  </table>
</div>
              

        <h3>What is it?</h3>

        <p>The 70 Day Challenge is a 10-week fitness, nutrition, and health program where you receive daily challenges, tasks, habits, and workouts from the coaches of NLPT. Score points by completing as many daily tasks as possible, report back in with the coaches, compete with others in the program, and have one of the most challenging yet rewarding periods of training that you've had in years.</p>

        <img class="alignright" src="/assets/images/fitness-3.jpg" />

        <h3>What benefits can you expect from this program?</h3>

        <p>What you take from this program depends on who you are, what your experience level is, and what your goals are.</p>

        <p>Maybe you've struggled with consistency in the past and need a kick in the butt to get back on the right path.</p>

        <p>Maybe you're tired of your same old routine and just want to shake things up with something different.</p>

        <p>Maybe you've got a certain fitness or weight loss goal you hope to achieve during this time.</p>

        <p>Or maybe you're aware of the looming summer season, and want to stay ahead of the parties, patios, and beverages that are coming your way.</p>

        <h3>Who is it for?</h3>

        <p>You don't have to be advanced or experienced to participate! This program is for anyone 18 and older and who is relatively healthy enough to complete an intense fitness program. If you're unsure if this is a good fit for you, please <a href="mailto:info@mynlpt.com">contact</a> us, and we'd be happy to discuss it with you.</p>


        <h3>What is included?</h3>

        <img class="full-width" src="/assets/images/teambuildr_screenshot.png" />
        <p>As a participant in the program, you'll receive:</p>
        <ul>
          <li>Use of our Teambuildr software system (web/iPad/mobile apps available), which we will use to deliver the daily challenges and which you will use to report in to us.</li>
          <li>10-week training program designed by NLPT and customized for your ability level</li>
          <li>Access to NLPT training facilities (if not currently a member)</li>
          <li>NLPT 70 Day Challenge t-shirt</li>
          <li>The winning team will get their choice of a bottle of wine or Starbucks gift card (1 per person).</li>
        </ul>

        <h3>How does it work?</h3>

        <p>Participants will be organized into teams of 4. By completing each daily challenge, you'll score points for your team. Team are allowed to self-organize, so if you want to compete with your friends, just put in a request. Bonus points will also be available throughout the competition for completing other challenges such as:</p>
        <ul>
          <li>Most workouts completed in a 7-day period.</li>
          <li>Best performance on a specific fitness test.</li>
          <li>Best adherance to a nutrition habit</li>
          <li>Most creative new recipe</li>
        </ul>

        <h3>What's different this time around?</h3>
        <p>Past participants might be wondering...is this just a carbon copy of the first 70 Day Challenge that ran back at the end of 2017?</p>
        <p>Nope.</p>
        <p>We're not going to spoil all of the surprises just yet, but we have made the following changes to this program:</p>
        <ul>
          <li>We've made the nutrition program SIGNIFICANTLY more difficult</li>
          <li>We've created all new weekly team challenges</li>
          <li>We've tossed out MANY of the daily challenges that got used last time and replaced them with more interesting and creative tasks</li>
          <li>Winning team members will get prizes :)</li>
        </ul>

        <h3>Dates and scheduling</h3>

        <h5>Dates</h5>
        <p class="no-margin">Registration deadline: Saturday, April 21st, 2018</p>
        <p class="no-margin">Program start: Saturday, April 21st, 2018</p>
        <p class="no-margin">Program end & post-competition party: Friday, June 29th, 2018</p>

        <h3>Cost</h3>

        <p class="no-margin">NLPT members: $50</p>
        <p class="no-margin">non-NLPT members: $349</p>
        <p class="no-margin">Team registration fee (all 4 must be non-Members): $1200</p>

        <h3>Registration</h3>
        <p>To sign-up, please email us at <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> and we will be in touch with you about finilizing your registration.</p>

        <img src="/assets/images/strongestloser2.jpg" />

      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
