{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
                <div class="cover-bg" style="background-image: url('/assets/images/content-image-staff-1.png')"></div>

        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Staff</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">

      {{>"about_navigation"}}

        <div class="staff-box">
            <h5 class="staff-title">Owner and President</h5>
             <div class="staff-name">
              <h2 class="no-margin">Andrew Hopf, MSc, CSCS</h2>
              <a href="mailto:andrew.hopf14@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/staff/andrew.jpg">
          {{> "bio_hopf"}}
        </div>
          <hr>

{{!--         <div class="staff-box">
            <h5 class="staff-title">Director of Training</h5>
            <div class="staff-name">
              <h2 class="no-margin">Eric Hagemann, MSc, CSCS</h2>
              <a href="mailto:hagemann.eric@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/staff/eric.jpg">
            {{> "bio_hagemann"}}
        </div>
          <hr>
 --}}
        <div class="staff-box">
            <h5 class="staff-title">Head Strength Coach, Stratford</h5>
            <div class="staff-name">
              <h2 class="no-margin">Dylan Campion, R.Kin</h2>
              <a href="mailto:dylancampion@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/staff/dylan.jpg">
            {{> "bio_campion"}}
        </div>
          <hr>

        <div class="staff-box">
            <h5 class="staff-title">Massage Therapist, Operations Manager</h5>
            <div class="staff-name">
              <h2 class="no-margin">Michelle Miguel, RMT</h2>
              <a href="mailto:nlpt.massagetherapy@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/staff/michelle.jpg" />
            {{> "bio_miguel"}}
        </div>
          <hr>

        <div class="staff-box">
            <h5 class="staff-title">Strength and Conditioning Coach</h5>
            <div class="staff-name">
              <h2 class="no-margin">Scott Patton</h2>
              <a href="mailto:scottpatts@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/logo-main-2.png">
            {{> "bio_patton"}}
        </div>

        <hr>

        <div class="staff-box">
            <h5 class="staff-title">Strength and Conditioning Coach</h5>
            <div class="staff-name offsite-links" style="display: flex; justify-content: space-between;">
              <h2 class="no-margin">John Peele</h2>
              <a href="mailto:jcpeele5@gmail.com" target="_blank"><span class="icon-envelope" aria-hidden="true"></span><span class="screen-reader-text">Email</span></a>
            </div>

            <h4>Background</h4> 
            <img class="alignright img-shadow-lg" src="/assets/images/staff/peele.jpg" />
            {{> "bio_peele"}}
        </div>

      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
