{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
  <div class="site-content">

    <article class="{{post_class}}">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url('/assets/images/content-image-adult-1.jpg')"></div>
        <div class="cover-content">
          <div class="inner">
            {{#if tags}}
            <div class="post-tags">
              {{tags separator=""}}
            </div><!-- .post-tags -->
            {{/if}}
            <h1 class="post-title">Adult Fitness</h1>
            <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text">Scroll Down</span></a>
          </div><!-- .inner -->
        </div><!-- .cover-content -->
      </header><!-- .cover -->
      <div class="post-content inner">


<section class="section-div">
  <h2 style="margin-top:2em;margin-bottom:2em;" class="text-center">Looking for something a little different?</h2>
  <img src="/assets/images/content-image-adult-3.jpg" class="alignright" />
  <p>NLPT is Cambridge and Stratford’s hardest working gym. </p>
   
  <p>While big box gyms clutter their floor with machines and treadmills as their members work out to soft-rock playing over the stereo, we take the opposite approach. In order to prepare athletes for the demands of their sports, we need open space to move, run, and lift. And our lineup of equipment is comprised of the tried and true basics: barbells, dumbbells, kettlebells, suspension trainers, sleds, chains and ropes. What more do you need?</p>

  <p>But you don't have to be an athlete, or have years of experience in the weight room to train with us. We have the best, most educated coaching <a href="/staff">staff</a> in the region and they specialize in delivering a training product that meets the need of each individual--no matter what their circumstance may be.</p>

  <p>Our coaches have assisted with post-surgery rehab programs, created life-transforming weight-loss plans, prepared people for half-marathons, and coached countless others back to strength and health.</p>

  <p>Whether you're new to training and are looking for a basic training plan, or have years of experience and are comfortable doing your own thing, we have something for you.</p>

  <p>The only requirements are a desire to train, a great attitude, and a willingness to put in the work to get better--no matter what your goals are.</p>
   
  <p>But beyond the equipment and our programs, NLPT is about culture and family. We’re a small gym that prides itself on providing top quality coaching and program design in an engaging, hard-working, and welcoming environment. We’re chalk-friendly, loud-music friendly, and even dog-friendly. We’ve got a small clientele of good people that love to train hard, and train right.</p>

  <h3><b>Not sure if you're a good fit?</b></h3>

  <p>We've got four membership options to NLPT, each one designed for a unique purpose: Open Membership, NLPTfit, LEAN, and Advanced Program Design. Scroll down to read a little about each program.</p>
</section>


<section class="section-div">
  <h2>Membership options</h2>

  <p>We currently provide 4 different memberships to our adult fitness program. Scroll lower down the page to read more detailed write-ups of each one.</p>
  <div class="grid-col-4">
    <div class="bg-blue">
      <p class="bg-blue-title">Option 1</p>
      <h5>Open Membership</h5>
      <p style="font-size:13px;">Use our stuff for $35/month</p>
    </div>
    <div class="bg-blue">
      <p class="bg-blue-title">Option 2</p>
      <h5>LEAN Unlimited</h5>
      <p style="font-size:13px;">Attend our high-intensity cardio classes for $70/month</p>
    </div>
    <div class="bg-blue">
      <p class="bg-blue-title">Option 3</p>
      <h5>NLPTfit<span style="display:block; font-weight: 300; font-size:10px;">Most popular</span></h5>
      <p style="font-size:13px;">Get an individualized program, coaching, LEAN classes, and unlimited use of the space for $99/month</p>
    </div>
    <div class="bg-blue">
      <p class="bg-blue-title">Option 4</p>
      <h5>Advanced Program Design</h5>
      <p style="font-size:13px;">Get a fully customized training program built from scratch for $199/month</p>
    </div>
  </div>
</section>

<section class="section-div">

  <div class="category">
    <h4 class="category-top">Membership Option 1</h4>
    <h2 class="category-bottom" id="open-membership">Open membership </h2>
  </div>

      <img class="alignright" src="/assets/images/fitness-2.jpg">
      <p>Get total access to NLPT facilities during open hours and train as often as you like.</p>
      <p>Open membership is best suited for those with some experience in the gym, and already have a routine or training style that they're comfortable with.</p>
      <p>This option does not include programming or coaching, however coaches will be available on the floor during specified NLPTfit and athlete training hours, so feel free to ask questions or get assistance if needed.</p>

    <div>
      <h4>Optimal for</h4>
      <p>This program is best for people who...</p>
      <ul>
        <li>Have training experience and confidence in the gym</li>
        <li>Wish to follow their own training plan</li>
        <li>Are looking to supplement other activities with a few workouts per week</li>
      </ul>
      <h4>Features</h4>
      <ul>
        <li>Unlimited access to gym</li>
      </ul>
      <h4>Pricing</h4>
      <ul>
        <li>$35 per month (no contracts or sign-up fees)</li>
      </ul>
    </div>

    <h4>Open Hours - Cambridge</h4>
      <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <p>6am-9am</p>
              <p>12pm-9pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>12pm-9pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>12pm-9pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>12pm-9pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>12pm-9pm</p>
            </td>
            <td>
              <p>8am-12pm</p>
            </td>
            <td>
              <p>Closed</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h4>Open Hours - Stratford</h4>
      <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <p>12pm-8:30pm</p>
            </td>
            <td>
              <p>12pm-8:30pm</p>
            </td>
            <td>
              <p>12pm-8:30pm</p>
            </td>
            <td>
              <p>12pm-8:30pm</p>
            </td>
            <td>
              <p>12pm-6pm</p>
            </td>
            <td>
              <p>9am-12pm</p>
            </td>
            <td>
            </td>
          </tr>

        </tbody>
      </table>
</section>
<section class="section-div">

  <div class="category">
    <h4 class="category-top">Membership Option 2</h4>
    <h2 class="category-bottom" id="open-membership">LEAN Unlimited </h2>
  </div>


      <img class="alignright" src="/assets/images/lean.jpg">

      <p>Get unlimited access to NLPT's LEAN classes, which are either 30-minute (Lean Express) or 60-minute (Lean Extreme) high-intensity classes designed to maximize calorie burn and minimize time spent at the gym. Classes are instructed by one of our qualified strength and conditioning coaches, and are run at select times throughout the week.</p>

      <div>
        <h4>Optimal for</h4>
        <p>This program is best for people who...
          <ul>
            <li>Are crunched for time</li>
            <li>Want maximum efficiency out of their training</li>
            <li>Love working out as part of a high-energy group</li>
          </ul>
          <h4>Features</h4>
          <ul>
            <li>Unlimited access to LEAN classes</li>
          </ul>

          <h4>Pricing</h4>
          <ul>
            <li>$70 per month for unlimited classes (no contracts or sign-up fees)</li>
            <li>$100 for a 10-class package</li>
            <li>$170 for a 20-class package</li>
          </ul>
        </div>

        <h4>LEAN Schedule - Cambridge</h4>
        <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <h5>Express</h5>
              <p>5:15pm</p>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>6am</p>
              <h5>Express</h5>
              <p>5:15pm</p>
            </td>
            <td>
              <h5>Express</h5>
              <p>5:15pm</p>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>6am</p>
              <h5>Express</h5>
              <p>5:15pm</p>
            </td>
            <td>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>8am</p>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <h4>LEAN Schedule - Stratford</h4>
      <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <h5>Express</h5>
              <p>6pm</p>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>12pm, 5pm, 7:30pm</p>
            </td>
            <td>
              <h5>Express</h5>
              <p>6pm</p>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>12pm, 5pm, 7:30pm</p>
            </td>
            <td>
            </td>
            <td>
              <h5>Extreme</h5>
              <p>9am</p>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

</section>
<section class="section-div">

    <div class="category">
      <h4 class="category-top">Membership Option 3</h4>
      <h2 class="category-bottom" id="nlpt-fit">NLPTfit Monthly Programming</h2>
    </div>

    <img class="img-thumbnail-right" src="/assets/images/most-popular.jpg" />
      <p>Have you ever walked into a gym, stared at all of the equipment, and just felt overwhelmed with all the options?</p>

      <p>This is a common situation, and it holds many people back from getting in shape. They simply don't know what to do or where to start. And even if they do have an idea, there's no confidence in that plan.</p>

      <p>For many, they end up sticking with the safest, most familiar exercises in order to avoid injury or embarrassment. But somewhere in the back of their mind they know that there's a better way.</p>

      <img class="alignright" src="/assets/images/fitness.jpg" />

      <p>And unless they're willing to pay $65-$90 per session for a personal trainer, they're left with the internet and fitness magazines for insight and guidance.</p>

      <p>This is where we offer something different.</p>

      <p>If you’re new to training or simply want more structure and confidence in your routine, our NLPTfit monthly programming option may be for you.</p>

      <p>Each month, we create a balanced, comprehensive training program that emphasizes strength development, mobility training, and high-intensity conditioning. It’s a great fit for someone that wants to maintain their fitness and health, get stronger, or lose weight in a safe, time-effective manner.</p>

      <p>Each member receives a personalized training program with individual modifications made for any injuries or movement limitations.</p>

      <p>Coaches are on the floor during designated NLPTfit hours to instruct members on proper exercise technique and ensure each prescribed program is well suited to the member’s ability and skill. Additionally, coaches are there to push, motivate, and give members the confidence to take on challenges they never thought possible.</p>

      <p>NLPTfit also comes with ultimate flexibility. Members are still free to train as much as they like during open training hours, however coaching may not always be available. We suggest attending NLPTfit hours at least during your first week so you can get a grasp on all of the components of the program.</p>
        <div>
          <h4>Optimal for</h4>
        <p>This program is best for people who...
          <ul>
            <li>Want a well-balanced, personalized program to follow at a low cost</li>
            <li>Are new to training</li>
            <li>Have general fitness goals such as improved strength, fat loss, and improved function.</li>
            <li>Have minor injuries or movement limitations</li>
          </ul>
          <h4>Features</h4>
          <ul>
            <li>Unlimited access to gym</li>
            <li>NLPTfit monthly training program (with personalized modifications)</li>
            <li>Coaching services during NLPTfit hours</li>
          </ul>
          <h4>Pricing</h4>
          <p><b>Program set-up fee: $99</b></p>

          <ul>
            <li>Includes 30-minute movement assessment and 30-minute personal training session</li>
          </ul>
          <p><b>Monthly membership: $99</b></p>
          <ul>
            <li>No contracts or cancellation fees</li>
            <li class="text-danger">30-day 100% money back guarantee. If you're not happy with your first month at NLPT, we'll refund your first month back to you, no questions asked.</li>
          </ul>
        </div>

      <h4>NLPTfit - Cambridge</h4>
      <div class="alert alert-info">Note that members of NLPTfit are still able to visit the gym any time during open hours to work out. The schedule below is to show when coaches will be available to assist with training.</div>
      <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <p>6am-9am</p>
              <p>4pm-6pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>4pm-6pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>4pm-6pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>4pm-6pm</p>
            </td>
            <td>
              <p>6am-9am</p>
              <p>4pm-6pm</p>
            </td>
            <td>
              <p>9am-10am</p>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <h4>NLPTfit - Stratford</h4>
      <table class="table table-small-text table-striped"> 
        <thead> 
          <tr> 
            <td></td> 
            <td><h5>Monday</h5></td> 
            <td><h5>Tuesday</h5></td> 
            <td><h5>Wednesday</h5></td> 
            <td><h5>Thursday</h5></td>
            <td><h5>Friday</h5></td> 
            <td><h5>Saturday</h5></td> 
            <td><h5>Sunday</h5></td> 
          </tr> 
        </thead> 
        <tbody> 
          <tr>
            <td>
            </td>
            <td>
              <p>12pm-1pm</p>
              <p>5pm-6pm</p>
              <p>7:30-8:30pm</p>
            </td>
            <td>
            </td>
            <td>
              <p>12pm-1pm</p>
              <p>5pm-6pm</p>
              <p>7:30-8:30pm</p>
            </td>
            <td>
            </td>
            <td>
              <p>12pm-1pm</p>
              <p>5pm-6pm</p>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

</section>
<section class="section-div">
   
  <div class="category">
    <h4 class="category-top">Membership Option 4</h4>
    <h2 class="category-bottom" id="advanced-program-design">Advanced Program Design</h2>
  </div>

      <img class="alignright" src="/assets/images/fras.jpg">
      <p>This program option is best suited for anyone with specific goals or training needs. We take you through a comprehensive movement and physical capacity assessment and design a training program to meet your exact criteria. </p>
       
      <p>Need a training plan as your prepare for your next marathon? Want to start powerlifting or improve on a specific lift? Have severe injuries or movement limitations that you need to train around? The options are endless. This is where we get specific with goals and detailed program design.</p>
       
      <p>With our Advanced Program Design option, you’ll take advantage of our coaches’ deep educational backgrounds and years of experience working with athletes from all different sport backgrounds to design a program that is optimal for you. Our coaches will work with you to analyze and understand exactly what you want to improve and help map out a plan to get there.</p>
       
      <p>Programs will be written in a progressive and structured way, so this option works best for those that have clearly defined goals, and who do not struggle with adherance or consistency. </p>
      <div>
        <h4>Optimal for</h4>
        <p>This program is best for people who...
          <ul>
            <li>Have highly specific training goals</li>
            <li>Competitive athletes</li>
            <li>Want detailed and highly individualized training plans</li>
            <li>Have severe injuries or movement limitations</li>
          </ul>
         <h4>Features</h4>
          <ul>
            <li>One-hour, 1-on-1 assessment/consultation</li>
            <li>4-week training program</li>
            <li>One-hour, 1-on-1 program review and instruction</li>
            <li>Unlimited email support throughout duration of workout plan</li>
          </ul>
          <h4>Pricing</h4>
        </div>
        <div>
          <ul>
            <li>$199 for 4-week plan</li>
            <li>$369 for 8-week plan*</li>
            <li>$539 for 12-week plan*</li>
            <br>
            <small>* Still includes 1-on-1 assessment, new 4-week plan, and program review every 4 weeks.</small>
          </ul>
<img src="/assets/images/content-image-adult-2.jpg" class="full-width" />
</section>


<section class="section-div">
  <h2>FAQ</h2> 
  {{> "adult_fitness_faq"}}
<img src="/assets/images/content-image-adult-4.jpg" class="full-width" />
</section>


<section class="section-div">
  <h2>How to register</h2>
  <p>Wanna get started? You can either:</p>
  <ol>
    <li>Visit either the Cambridge or Stratford location and get registered.</li>
    <li>Call us at 519-620-9898 to get signed up over the phone</li>
    <li>Send us an email at: <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> and we'll be in contact with you shortly</li>
  </ol>
</section>

{{> "contact_bar"}}






      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
