.ballantyne {
  background-image: url('../images/athletes/ballantyne.jpg');
}
.behenna {
  background-image: url('../images/athletes/behenna.jpg');
}
.blight {
  background-image: url('../images/athletes/blight.jpg');
}
.brubacher {
  background-image: url('../images/athletes/brubacher.jpg');
}
.childerley {
  background-image: url('../images/athletes/childerley.jpg');
}
.cooper {
  background-image: url('../images/athletes/cooper-2.jpg');
}
.core {
  background-image: url('../images/athletes/core.jpg');
}
.coupland {
  background-image: url('../images/athletes/coupland.jpg');
}
.courtney {
  background-image: url('../images/athletes/courtney.jpg');
}
.dalrymple {
  background-image: url('../images/athletes/dalrymple.jpg');
}
.dejong {
  background-image: url('../images/athletes/dejong.jpg');
}
.dempsey {
  background-image: url('../images/athletes/dempsey.jpg');
}
.devine {
  background-image: url('../images/athletes/devine.jpg');
}
.doherty {
  background-image: url('../images/athletes/doherty.jpg');
}
.dotchin {
  background-image: url('../images/athletes/dotchin.jpg');
}
.foster {
  background-image: url('../images/athletes/foster.jpg');
}
.furlong {
  background-image: url('../images/athletes/furlong.jpg');
}
.genovese {
  background-image: url('../images/athletes/genovese.jpg');
}
.gibb {
  background-image: url('../images/athletes/gibb.jpg');
}
.gilhula {
  background-image: url('../images/athletes/gilhula.jpg');
}
.gilligan {
  background-image: url('../images/athletes/gilligan.jpg');
}
.good {
  background-image: url('../images/athletes/good.jpg');
}
.grant {
  background-image: url('../images/athletes/grant.jpg');
}
.gaudet {
  background-image: url('../images/athletes/gaudet.jpg');
}
.haddaway {
  background-image: url('../images/athletes/haddaway.jpg');
}
.halmo {
  background-image: url('../images/athletes/halmo.jpg');
}
.harding {
  background-image: url('../images/athletes/harding.jpg');
}
.harrietha {
  background-image: url('../images/athletes/harrietha.jpg');
}
.henderson {
  background-image: url('../images/athletes/henderson.jpg');
}
.hertel {
  background-image: url('../images/athletes/hertel.jpg');
}
.hiff {
  background-image: url('../images/athletes/hiff.jpg');
}
.jutzi {
  background-image: url('../images/athletes/jutzi.jpg');
}
.klahsen {
  background-image: url('../images/athletes/klahsen.jpg');
}
.klie {
  background-image: url('../images/athletes/klie.jpg');
}
.kohli {
  background-image: url('../images/athletes/kohli.jpg');
}
.koncir {
  background-image: url('../images/athletes/koncir.jpg');
}
.kostigian {
  background-image: url('../images/athletes/kostigian.jpg');
}
.krebs {
  background-image: url('../images/athletes/krebs.jpg');
}
.kress {
  background-image: url('../images/athletes/kress.jpg');
}
.ladhani {
  background-image: url('../images/athletes/ladhani.jpg');
}
.landman {
  background-image: url('../images/athletes/landman.jpg');
}
.landry {
  background-image: url('../images/athletes/landry.jpg');
}
.lowry {
  background-image: url('../images/athletes/lowry.jpg');
}
.macdonald {
  background-image: url('../images/athletes/macdonald.jpg');
}
.macey {
  background-image: url('../images/athletes/macey.jpg');
}
.machalski {
  background-image: url('../images/athletes/machalski.jpg');
}
.maidment {
  background-image: url('../images/athletes/maidment.jpg');
}
.manning {
  background-image: url('../images/athletes/manning.jpg');
}
.mcclure {
  background-image: url('../images/athletes/mcclure.jpg');
}
.mckague {
  background-image: url('../images/athletes/mckague.jpg');
}
.mckeown {
  background-image: url('../images/athletes/mckeown.jpg');
}
.mcphee {
  background-image: url('../images/athletes/mcphee.jpg');
}
.middleton {
  background-image: url('../images/athletes/middleton.jpg');
}
.otoole {
  background-image: url('../images/athletes/otoole.jpg');
}
.owenmacdonald {
  background-image: url('../images/athletes/owenmacdonald.jpg');
}
.patton {
  background-image: url('../images/athletes/patton.jpg');
}
.pellegrino {
  background-image: url('../images/athletes/pellegrino.jpg');
}
.pickering {
  background-image: url('../images/athletes/pickering.jpg');
}
.pittaway {
  background-image: url('../images/athletes/pittaway.jpg');
}
.platzer {
  background-image: url('../images/athletes/platzer.jpg');
}
.pugliese {
  background-image: url('../images/athletes/pugliese.jpg');
}
.rimmer {
  background-image: url('../images/athletes/rimmer.jpg');
}
.ruby {
  background-image: url('../images/athletes/ruby.jpg');
}
.russell {
  background-image: url('../images/athletes/russell.jpg');
}
.schmidt {
  background-image: url('../images/athletes/schmidt.jpg');
}
.seraphim {
  background-image: url('../images/athletes/seraphim.jpg');
}
.sonnenburg {
  background-image: url('../images/athletes/sonnenburg.jpg');
}
.snider {
  background-image: url('../images/athletes/snider.jpg');
}
.stajcer {
  background-image: url('../images/athletes/stajcer.jpg');
}
.subban {
  background-image: url('../images/athletes/subban.jpg');
}
.vanboekel {
  background-image: url('../images/athletes/vanboekel.jpg');
}
.vandyk {
  background-image: url('../images/athletes/vandyk.jpg');
}
.vanpelt {
  background-image: url('../images/athletes/vanpelt.jpg');
}
.wale {
  background-image: url('../images/athletes/wale.jpg');
}
.weber {
  background-image: url('../images/athletes/weber.jpg');
}
.wilson {
  background-image: url('../images/athletes/wilson.jpg');
}
.winkler {
  background-image: url('../images/athletes/winkler.jpg');
}
.wood {
  background-image: url('../images/athletes/wood.jpg');
}
.woods {
  background-image: url('../images/athletes/woods.jpg');
}